[2020-08-18 06:35] golangav opened #466 "django.core.cache.backends.base.InvalidCacheBackendError: Could not find backend 'django_redis.cache.RedisCache': cannot import name 'get_cache'"
django==2.2
django-redis==3.8.4

Performing system checks...

Traceback (most recent call last):
  File "/usr/local/lib/python3.6/site-packages/django/core/cache/__init__.py", line 50, in _create_cache
    backend_cls = import_string(backend)
  File "/usr/local/lib/python3.6/site-packages/django/utils/module_loading.py", line 17, in import_string
    module = import_module(module_path)
  File "/us

[2020-08-18 09:42] golangav commented on #465
can you help I ?

[2020-08-18 15:16] jdufresne commented on #466
Looks like an issue with your installation or your virtualenv. Cannot reproduce.

[2020-08-18 15:16] #466 closed

[2020-08-18 15:16] jdufresne commented on #465
Looks like an issue with your installation or your virtualenv. Cannot reproduce.

[2020-08-18 15:16] #465 closed

[2020-08-19 01:41] golangav commented on #465
没问题啊

[2020-08-19 01:42] golangav commented on #465
It's not about the environment. Other people have the same problem

[2020-08-19 03:09] jdufresne commented on #465
Can you link to a minimal project that demonstrates the issue with djang-redis? If so, I'll happily dive in and take a look.

[2020-08-19 03:15] jdufresne commented on #461
Can you link to a minimal project that demonstrates the issue with djang-redis?

[2020-08-19 03:16] jdufresne commented on #466
Can you link to a minimal project that demonstrates the issue with djang-redis?

[2020-08-28 00:27] JRileyH commented on #461
I too am seeing this error with django 3.1
Working on minimal repro now.

[2020-08-28 17:32] JRileyH commented on #461
Actually I spoke too soon...
I fixed this issue by hiking the django-redis version from 3.8.4 (default from pip) to 4.12.1 and don't seem to experience any other issues with the upgrade.

Since my issue is solved I don't feel the need to build out a repro case but will leave this here for others if upgrading is an option for you.

[2020-08-31 17:15] jdufresne commented on #461
What do you mean by this? Doesn't pip default to the latest available version, which it currently lists as 4.12.1. What is this other default version?

https://pypi.org/project/django-redis/#history

[2020-08-31 19:29] JRileyH commented on #461
You're right. I didn't check pypi. Sorry perhaps its got to do with pipenv...

But in a fresh project if I run:
```pipenv install django-redis```
It adds:
```django-redis = "*"```
to Pipfile

Then if I run:
```pipenv run pip freeze```
I see an entry for:
```django-redis==3.8.4```

I'm not sure why but it must be some localized issue because in a fresh project pip installs the correct version. ¯\_(

[2020-09-08 16:10] devinnasar commented on #353
I'm having the same issue as @kashypAkash. In addition, I'm getting this error here:

app_1  | Traceback (most recent call last):
app_1  |   File "/env/lib/python3.8/site-packages/rediscluster/nodemanager.py", line 162, in initialize
app_1  |     cluster_slots = r.execute_command("cluster", "slots")
app_1  |   File "/env/lib/python3.8/site-packages/redis/client.py", line 755, in execute_command
ap

[2020-09-08 17:41] devinnasar commented on #353
After some digging, I learned that unless an Elasticache Redis cluster is created with cluster mode/sharding, or if the cluser size is 1, Elasticache creates the cluster with a `cluster_enabled: 0` setting. This causes redis-py-cluster to become confused when attempting to send the `cluster slots` command. In this case, as is @kashypAkash's issue, one simply configures Django-Redis as one would fo

[2020-09-18 08:48] dzanotelli opened #469 "Pass all the cache param to the actual redis client"
It would be nice if `django_redis.pool.ConnectionFactory` method `make_connection_params` (lno 29) can pass ALL the params to the acutal Redis client. Now it manages only 'PASSWORD', 'SOCKET_TIMEOUT', 'SOCKET_CONNECT_TIMEOUT'.
In upper case only.

My scenario:
- django-environ which reads `CACHE_URL` from a `.env` (text) file:
[code]

- django `settings.py` with:
[code]
which generates the followi

[2020-09-18 22:05] jdufresne commented on #469
Thanks for the thorough report :+1:  Are you interested in contributing a PR that to solve it?

[2020-09-21 07:01] dzanotelli commented on #469
Yeah, why not, I guess is just a matter of few lines of code.

[2020-09-24 09:13] kirimaks commented on #461
Do you guys know some way to properly initialize django-redis backend on start?

I'm getting similar exceptions:
[code]

But this exception from django management command. When command starts, then from `handle()` new process started and from that process there is a query to the cache. That exception is thrown on query.
It helps if I add some random cache query before new process is started, so I

[2020-10-07 06:16] rayvikram opened #470 "MAX_ENTRIES is not working"
I am using Redis for caching in my multi-tenant system. And for testing purpose of the MAX_ENTRIES, I put 'MAX_ENTRIES': 2 in Both `filebased.FileBasedCache` and `cache.RedisCache`. Filebased is working fine ( it doesn't save more than 2 items as aspected) But Redis is saving all the data and it is not deleting after reaching the limit.

[2020-10-09 06:27] WisdomPill commented on #470
Hello @rayvikram correct me I am wrong,

I had a look at the [documentation](https://docs.djangoproject.com/en/3.1/topics/cache/) about this feature, which I am quite sure it is not supported by `django-redis`.

As of my understanding there is a misleading claim, in the documentation, because reading the code it seems to me that it does not delete the oldest entry but a random one [here](https://g

[2020-10-09 06:29] WisdomPill commented on #470
I correct my self, it can be done if the timeout is set, because you could look at the smallest ttl, but what if there is no timeout, is deleting a random one acceptable? I do not think so

[2020-10-09 06:42] WisdomPill commented on #470
It seems to me that if there is no logic to delete the oldest even if there is a timeout DB based cache deletes in order of cache_key. [here](https://github.com/django/django/blob/b79088306513d5ed76d31ac40ab3c15f858946ea/django/core/cache/backends/db.py#L261) and [here](https://github.com/django/django/blob/b79088306513d5ed76d31ac40ab3c15f858946ea/django/db/backends/base/operations.py#L77)

I thin

[2020-10-09 06:46] WisdomPill commented on #457
You can access `RedisClient` by using `get_redis_connection`, you can count the keys with pattern `*`.
There are many ways. Furthermore I think this is more of a stack overflow question.

Please ask it there. I am closing the issue because it is not an issue but a question that should be asked elsewhere.

[2020-10-09 06:46] #457 closed

[2020-10-09 06:48] WisdomPill commented on #398
Hello @nwns!

Would you like to propose a PR solving this issue?

[2020-10-09 06:50] WisdomPill commented on #382
Hello @lionel126!

Sorry for the late response, can you provide a code sample?

[2020-10-09 06:54] WisdomPill commented on #363
Hello @alexandernst!

It can be definitely done with a pub/sub mechanism but, I agree with @niwnz, I think it is not the scope of the project.
You could try to use some of task manager options that come with python like `rq` and `celery` just to name a few

[2020-10-09 06:55] WisdomPill commented on #360
Hello @cashaev!

I think it is quite easy to implement, do you fancy giving it a shot and open a PR?

[2020-10-09 06:58] WisdomPill commented on #330
Ping @rz-abs-shi

Please reply to this issue otherwise it will be closed since it is old and as @niwinz said there are test covering this behavior like [here](https://github.com/jazzband/django-redis/blob/a6eb7692c7c686fc49c1329be1d078c4300f721b/tests/test_backend.py#L386)

[2020-10-09 13:06] kishorkunal-raj opened #471 "Job failing on Travis-CI for Intel"
Hi All,
I am trying to run the jobs on Travis CI and been observed that job for TOXENV=lint  on AMD64 if failing. Logs are mentioned below

$ python --version

Python 3.6.7

$ pip --version

pip 20.1.1 from /home/travis/virtualenv/python3.6.7/lib/python3.6/site-packages/pip (python 3.6)
install

1.76s$ pip install tox

8.09s$ tox

lint create: /home/travis/build/kishorkunal-raj/django-redis/.tox/l

[2020-10-09 18:17] cashaev commented on #360
Hi, @WisdomPill !
Thank you for the offer. Though it is quite late, but I will take a chance and contribute with pleasure.

Please, check the PR [https://github.com/jazzband/django-redis/pull/472](url)

[2020-10-09 18:25] WisdomPill commented on #360
Thanks for the contribution @cashaev !

[2020-10-09 18:34] cashaev commented on #363
Besides, one should take a note that "expired events are generated when the Redis server deletes the key and not when the time to live theoretically reaches the value of zero".
So, I suppose it also complicates the case.

[2020-10-09 18:56] cashaev commented on #471
Same thing happened for me here https://travis-ci.org/github/jazzband/django-redis/jobs/734378938
Looks like linter issue, when black is trying to reformat the file

[2020-10-09 19:50] cashaev commented on #471
put arguments @ self.cache.set(...) and self.cache.client._pack(...) on separate lines as suggested by the linter.

[2020-10-12 04:47] rayvikram commented on #470
Yes it deletes a random cache item. But as per [django-docs,](https://docs.djangoproject.com/en/3.1/topics/cache/#local-memory-caching) caches uses a least-recently-used (LRU) culling strategy. So I was expecting this behavior. But even it deletes LRU or Oldest, my main challenge is to limit the maximum item in the cache. I have verified that MAX_ENTIES is not working in Redis.

[2020-10-12 04:53] rayvikram commented on #470
Yes, I have read the docs again, there is no such claim to support MAX_ENTRIES.

[2020-10-12 09:39] kishorkunal-raj commented on #471
I had tried putting the arguments in different lines as suggested in the logs, but still same issue persists and it does not made any difference. Below are the logs
with patch.object(pipeline, "set") as mocked_set:
             self.cache.set(
-                key,
-                value,
+                key,
+                value,
                 client=pipeline,
             )
         if isi

[2020-10-12 09:46] WisdomPill commented on #471
Where did you see that? To me it seems that you are still looking at the same build of 3 days ago

[2020-10-12 09:57] kishorkunal-raj commented on #471
JOB ID: https://travis-ci.com/github/kishorkunal-raj/django-redis/jobs/398250790

[2020-10-12 10:03] WisdomPill commented on #471
I see, there is still an indentation problem, black does not like it.

By the way you can run black in order to fix these issues like the following `black .`

[2020-10-12 10:56] cashaev commented on #471
check how it was done in my PR,
https://github.com/jazzband/django-redis/pull/472/files

[2020-10-12 11:06] #330 closed

[2020-10-12 11:15] WisdomPill commented on #379
Hello @jadhavmanoj!

Can you come up with a PR to fix this?

[2020-10-12 14:55] dzanotelli commented on #469
@WisdomPill
I went deep into the issue, and i figure out that the situation is a little more complex.

The complete workflow:
1. django-redis instantiate a `django_redis.cache.RedisCache` object
1. the `RedisCache.client` property instantiates a `django_redis.client.DefaultClient` (you can specify it in the CACHE OPTIONS, but it's also the default)
1. the `DefaultClient` calls a `connect` method,

[2020-10-13 07:53] WisdomPill commented on #469
I do not understand why you do not use `REDIS_CLIENT_KWARGS` and `CONNECTION_POOL_KWARGS`.

Furthermore I have tried myself setting `socket_keepalive = True` on the `REDIS_CLIENT_KWARGS` and I expected to find the options on the client by I did not.
Meanwhile setting the option on `CONNECTION_POOL_KWARGS` seem to work.

I have to dig into it, so I will be sure if your modifications are needed or n

[2020-10-13 09:09] dzanotelli commented on #469
Mmm actually this `CONNECTION_POOL_KWARGS` seems a good suggestion. Maybe it's my bad: i missed this param. I'll try it and let you know.

[2020-10-13 10:11] dzanotelli commented on #469
Ok I checked it.
My problem is that my conf relies on django-environ with

.env file
[code]

settings.py
[code]
The url params in the `.env` file are all added to the `CACHES['default']['OPTIONS']`, level 1, and I couldnt find a way to write the url in order to have a nested dictionary with `CONNECTION_POOL_KWARGS` and its subkeys.

Indeed a workaround may be something like this, in `settings.py`:

[2020-10-13 10:20] WisdomPill commented on #469
I do not think it is a `django-redis`,
if you disagree and have something in mind to fill the gap please consider proposing your idea and maybe a PR.

Otherwise I think we can just close the issue.

[2020-10-13 11:56] dzanotelli commented on #469
Let's close the issue, if something new pops up, ill open a new one.
Thanks for your support.

[2020-10-13 11:56] #469 closed

[2020-10-13 16:18] tucosaurus opened #473 "get_redis_connection hangs up if redis is down."
Hey, Im trying to create a health check endpoint for my django and drf based application. Here's how Im checking it.

[code]

This code works fine in the python shell. `conn.ping` raises a connection error if redis is down. However, when I request the endpoint and redis is down, the thread hangs forever. Here's my configuration for cache backend.

[code]

Could you help me out with why a Connectio

[2020-10-13 16:26] WisdomPill commented on #473
Hello @tucosaurus!

How do you ping redis without shell?
Are sure it does not throw another exception?
Furthermore are you sure that the options are passed to the client you are using?

[2020-10-13 21:16] WisdomPill opened #474 "Add python3.9 to CI"
Travis should add python 3.9 to the python versions for testing, maybe at the beginning we can leave it on the allowed failures if it causes issues

[2020-10-14 03:26] tucosaurus commented on #473
@WisdomPill Thank you for your response.
I have a drf api view which pings redis. Im pretty sure it does not throw any exception. My server just hangs if redis is down. I will verify that the options are being passed to the client and get back to you.

[2020-10-14 04:03] jdufresne commented on #471
This should be fixed with dbb90a2a127bf394972fb1aa4bfb7cabd03ced3f.

[2020-10-14 04:03] #471 closed

[2020-10-14 13:39] tucosaurus commented on #473
this was happening due to django rest frameworks throttling. Thank you for your time @WisdomPill

[2020-10-14 13:39] #473 closed

[2020-10-14 14:50] peymanslh commented on #474
Can I work on this issue?

[2020-10-14 17:37] WisdomPill commented on #474
Yes, thanks for the PR

[2020-10-14 19:10] WisdomPill commented on #459
Hello @plumdog !

There is not difference, if you set `timeout=None` the client will not set the `EX` parameter and that means that there will be no TTL and also means 'TTL forever' (the key will not be evicted using `volatile-lru`).

Did I answer your question?

[2020-10-15 08:21] plumdog commented on #459
Yes.

That Redis doesn't differentiate does it clear and does make sense.

I do think that the terminology "infinite timeout" is a bit confusing, because it isn't clear how `volatile-lru` will handle them. From what I can tell (https://redis.io/commands/expire, https://redis.io/commands/ttl, https://redis.io/commands/persist) Redis' own documentation doesn't use "infinite timeout". Calling them "p

[2020-10-15 08:21] #459 closed

[2020-10-15 18:55] WisdomPill commented on #333
Hello @andytzeng!

Are you still considering to propose a PR to fix this issue?

As of my understanding `.expire()` and `.ttl()` do not support sub second representation,
using `PEXPIRE` and `PTTL` and divide the result by 1000 should do the trick.

Am I right?

If that is the case, I think it should be very easy to implement and test.

[2020-10-16 08:12] #474 closed

[2020-10-23 16:13] kirimaks commented on #461
@WisdomPill thanks, I think I figured it out. I have 2 processes started from my management command. And the error comes up when processes starting simultaneously. I changed the code to start them one by one and it works fine.

[2020-10-23 23:35] rfschubert opened #479 "How do I force expire specific cache if it is private?"
Django has option to cache data privately using:

[code]

How can I know and expire the specific cache if another script or server update something and that view would need catch a new version of it without delete the entire cache?

Look, I'm looking to cache some client history but it can change suddenly if another client interact with him, so I would need set a new version to that cache, but how

[2020-10-26 17:53] terencehonles commented on #426
Just to follow up, since it was asked in https://github.com/jazzband/django-redis/pull/460#issuecomment-716109531, we've been using #460 in production without any issues. I'd move that we should consider reviewing #460 and seeing if there are any issues with merging and supporting Redis sentinels in the way I proposed.

[2020-10-27 08:05] WisdomPill commented on #479
Hello @rfschubert,

`cache_control` does not interact with the django cache itself, it just adds a header to the response so that the browser knows that this page does not change so it will cache it and next time a client asks for it it uses the locally stored page.

As of the `private` attribute it is one possible attribute of the header `Cache-Control`.
In your case I do not think using `cache_c

[2020-11-01 20:23] WisdomPill commented on #479
@rfschubert please answer otherwise I will just close the issue since it is not a real issue/bug report and therefore should be asked in stack overflow or similar site/forum

[2020-11-03 14:16] rfschubert commented on #479
Thanks for the response, yeah, you helped a lot! I'll close the issue

[2020-11-03 14:16] #479 closed

[2020-11-14 10:03] z0ng33 opened #483 "incr_version and decr_version delete keys with infinite timeout"
When I try to incease or decrease version of some keys with infinite timeout, they just disappear.

After small research, I figured out that problem is in `django_redis.client.default.DefaultClient` method `incr_version`:
[code]

When we get ttl of the current key, redis client returns `-1`. After that, when client trying to set this ttl to the new key, it disappear immediately, because for infini

[2020-11-14 15:19] WisdomPill commented on #483
Hello @z0ng33 ,

I did not understand what are you saying?

Do you have any code snippet or unittest to prove what are you saying?
It would be very helpful.

Thanks!

[2020-11-14 20:25] z0ng33 commented on #483
@WisdomPill It's example from django documentation:
[code]

[2020-12-09 11:08] jezdez commented on #430
@niwinz Could you please work on the other TODO items above please to finalize the transfer to Jazzband?

[2020-12-09 11:18] jezdez commented on #430
@niwinz Generally speaking, could you elaborate if you're interested in being proejct lead for this? That would imply doing releases using [Jazzband's release process](https://jazzband.co/about/releases) (which is half-automated).

@jdufresne Given your work on this project in recent time, would you mind to share to be another project lead?

[2020-12-09 16:08] chenguanyou opened #485 "ValueError: unsupported pickle protocol: 5"
/
Traceback (most recent call last):
  File "/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/django_redis/client/default.py", line 311, in decode
    value = int(value)
ValueError: invalid literal for int() with base 10: b'\x80\x05\x95\x03\x17\x00\x00\x00\x00\x00\x00]\x94(GA\xd7\xf4\x07^\x80\x0e\x80GA\xd7\xf3\xd5-\x8f,fGA\xd7\xf3\xd5+\xf0P\x1eGA\xd7\xf3\xd5+\x17\x1cvG

[2020-12-11 01:07] #485 closed

[2020-12-11 07:57] saschametz opened #486 "cache.delete returns an integer instead of a boolean"
Hello, thanks for providing this great package.

I've just seen in the Django documentation (Version 3.1.) that the `cache.delete` API returns a boolean value [since version 3.1](https://docs.djangoproject.com/en/3.1/topics/cache/#django.core.caches.cache.delete):

<img width="865" alt="Screenshot 2020-12-11 at 08 51 41" src="https://user-images.githubusercontent.com/37977643/101877312-180f9000-3b

[2020-12-11 08:06] WisdomPill commented on #486
Hello @saschametz, yes it should be changed, but imho it should change only from django 3.1 onwards.

A version check of django is very simple to do.

Do you fancy coming up with a PR to fix this?

[2020-12-11 08:19] saschametz commented on #486
Hi @WisdomPill thanks for the answer. Sure, I'll take a look at it this weekend.

[2020-12-28 00:56] sunilale0 opened #487 "Missing documentation for django-redis"
Hi, I visited the following site:
https://readthedocs.org/projects/django-redis/

which links the django-redis documentation sites to https://django-redis.readthedocs.io/en/latest/ and https://django-redis.readthedocs.io/en/stable/ , both of which return an empty site. I was wondering if I am visiting the wrong link or if there is some other errors due to which documentation is missing.

I did fin

[2021-01-02 10:38] WisdomPill commented on #487
Hello @sunilale0!
Sorry for being late you can read the documentation on the README

[2021-01-06 14:05] REXIANN opened #489 "InvalidCacheBackendError: Could not find backend 'django_redis.cache.RedisCache': No module named 'django_redis.cache'"
Hi,

I tried to use django-redis and I got this error when I entered the page where the redis cache has set.

Request Method: | GET
-- | --
http://127.0.0.1:8000/
2.2
InvalidCacheBackendError
Could not find backend 'django_redis.cache.RedisCache': No module named 'django_redis.cache'
/Users/jinhyuck/Documents/django_redis/venv/lib/python3.6/site-packages/django/core/cache/__init__.py in _create_ca

[2021-01-06 15:20] WisdomPill commented on #489
Are you sure that you are starting django from the virtual environment?

What is the name of your project? Maybe you have the same name as the library so it will find you project before the library itself.

There has not been any releases since may, many users and I use `dingo_redis` on daily basis.

[2021-01-07 01:27] REXIANN commented on #489
Thanks for your advice.

Yes, you were right. My project name was also `django_redis` so I changed it.

But it still doesn't work with same error message...

Found out that the error occurs at line 50, `import_string(backend)` statement in /Users/jinhyuck/Documents/django_redis/venv/lib/python3.6/site-packages/django/core/cache/init.py file.

 I've also installed `django-redis` library on global p

[2021-01-07 10:46] WisdomPill commented on #489
I recommend using (stackoverflow)[stackoverflow.com] for this issues, that is the right place to get help and to ask this kind of questions

[2021-01-07 10:46] #489 closed

[2021-01-10 21:49] sunilale0 commented on #487
@WisdomPill Thank you.

[2021-01-10 21:49] #487 closed

[2021-01-11 23:39] pinoatrome commented on #486
HI all,
I've submitted a PR to help solve this issue.
It is my first submission to this great project, please let me know if it doesn't follow the code of conduct and/or anything has to be amended.
HTH
GG

[2021-01-12 18:43] AnesFoufa opened #491 "cache.close() modifies protected attribute of ConnectionPool"
Hi. Thanks for this package.
I don't understant why does the method close of the DefaultClient access and modify a protected attribute of ConnectionPool in order to close the connections?
https://github.com/jazzband/django-redis/blob/e48d08b448a311339fa1fbb8f05468863b0727cc/django_redis/client/default.py#L571
Why not simply call the method disconnect of ConnectionPool?
This manipulation of a priva

[2021-01-14 09:37] #491 closed

[2021-01-14 11:26] AnesFoufa opened #495 "Close method does nothing by default and undocumented setting."
Hi everyone. The method close in DefaultClient does nothing unless the setting DJANGO_REDIS_CLOSE_CONNECTION is at True, in this case, it closes its connection pool as it can be seen here:
https://github.com/jazzband/django-redis/blob/a7ca6e40fd487016cac819cc00ab19286bf3f063/django_redis/client/default.py#L569
I wonder why the closing of the connection pool is not the default behavior and why DJAN

[2021-01-14 18:49] WisdomPill commented on #495
Hello @AnesFoufa maybe we can ask @niwinz if he can answer.

Otherwise I would suggest to at least document the option and maybe with the opinion of some other developers to like @jdufresne for example to make it true by default.

I would vote to make it true by default, if you agree thumbs up, if not thumbs down

[2021-01-15 00:21] pinoatrome commented on #495
:+1:

[2021-01-15 14:27] pinoatrome commented on #495
Hallo @WisdomPill ,
the PR #496  submitted yesterday closes this issue:  changed implementation, tests and linting are OK BUT the checks fail with a weird error:

anyone with a clue about this?
Thanks
GG

https://github.com/jazzband/django-redis/pull/496/checks?check_run_id=1708842928

[2021-01-16 07:52] folt commented on #495
I have been trying for a long time to find the problem why my celery workers freeze without any error signs. It turned out that this was due to the sweating of the radish compound. I think when there is no connection, a connection error exception should occur.

[2021-01-16 11:22] pinoatrome commented on #495
that's bad: is it anything that can be connected to django-redis classes?

Do you mean in the close() method?

[2021-01-16 15:37] WisdomPill commented on #495
I do not think that `django-redis` is related to you `celery` issue, if not please show why you think it is like you said.
As a matter of fact, this issue is about closing the connections, not opening them.
Furthermore, when opening a connection `django-redis` does no silencing of exceptions.
I recommend to go to `celery` repository to talk about your `celery` issue.

[2021-01-16 20:04] folt commented on #495
For some reason, the settings
`SOCKET_CONNECT_TIMEOUT`
`SOCKET_TIMEOUT`
not fixed by default. So my app froze. This is very difficult to track down. Problems appeared only at the moment of loss of connection, and this happened every 2-3 months. If you set these settings, then the application raises an exception and breaks the connections. Perhaps you just need to set them by default, then the beha

[2021-01-17 11:56] pinoatrome commented on #495
I see,
congrats for tracking down this scenario (in production and happening rarely).
As stated by @WisdomPill  back in the thread these settings are configured in CACHES settings and are passed as args to the client class constructor ("redis.client.Redis")
The default values per Redis client class are socket_timeout=None, socket_connect_timeout=None so the current implementation in `django-redis`

[2021-01-22 23:18] venomone opened #497 "Unable to Use TLS encryption"
Hey folks,

actually I wanted to implement TLS encryption to connect my django application with redis but im failing with the following error (using without TLS work like a charm):

[code]

my settingy.py:
[code]
This is how I start redis using docker:

[code]
The redis log is showing the following:

[code]

Does smb can provide any help onto this?

Kind regards :D

[2021-02-03 19:18] pgcd opened #498 "cache.keys('*') doesn't return template fragments"
I was trying to selectively invalidate some fragments on an AWS Elasticache database, and ended up against massive timeouts in `delete_pattern()`, so I tried from django shell and no `'template.cache*'` keys show up with `cache.keys('template*')`.
To confirm, I checked with redis-cli, and `KEYS 'template*'` returns all the expected keys which, interestingly enough, seem to be used by the template

[2021-02-03 19:50] pgcd commented on #498
Update: looks like this problem is caused by #382 - I'll investigate further.

[2021-02-03 20:27] WisdomPill commented on #498
Hello @pgcd can you provide a code sample?

Can you also explain more in detail what numbers are talking about, how many keys are we talking about?
Have you thought about using a large `COUNT` number?

Have you tried using plain `redis.Redis` client?

[2021-02-04 08:24] pgcd commented on #498
I investigated a bit more and it turns out the problem is very likely caused by my setup - it's a cobbled-together multi-tenant thing, so it looks like the KEY_PREFIX is not set correctly in certain cases, which would explain why the keys are not found.
As far as I can tell, the KEY_FUNCTION is used as expected, so please feel free to close the issue.

[2021-02-04 08:27] #498 closed

[2021-02-10 15:02] OJFord commented on #438
PyPI points to http://jazzband.github.io/django-redis/latest/ also mentioned as the new place by  @WisdomPill above, but 404s. (So does jazzband.github.io entirely.)

[2021-02-10 15:55] AceFire6 opened #499 "`incr` bug - deletes key when timeout is None if `client.eval` errors"
I have a Django project set up with my cache config as follows:

[code]

We noticed weird behaviour in a case where we were calling `cache.incr(KEY, float_value)`

The keys were being created with a `TTL` of `0`.

Testing locally, I believe I've found the error. In `DefaultClient._incr`:
https://github.com/jazzband/django-redis/blob/92896088479cb6710fb410307adb66d27dc9e058/django_redis/client/defa

[2021-03-04 10:42] EquatorSavage opened #500 "typeerror: a bytes-like object is required, not 'str'"
typeerror: a bytes-like object is required, not 'str'
[code]

why?

[2021-03-04 13:31] TarikMadd commented on #461
Upgrade django-redis library to the latest version

[2021-03-07 16:08] severindellsperger commented on #426
Any updates here? I took a look at the code of the PR, and it seems fine.
I like to use it in production, and I saw that the PR is still not merged.

@WisdomPill  - I really am looking forward to using this feature. I also checked the PR conversation - is there any plausible reason not to merge it?
It seems to me that many people like to use it, especially because the other packages are not mainta

[2021-03-07 16:19] WisdomPill commented on #426
I am not against merging it, it is just that I never used sentinel so I am not able to review it, since I do not know if it is okay or not, as a matter of fact there is the `help-needed` label on the PR and the issue. I see many people are interested, if somebody could step in and review it, he/she is welcome. If nobody can step in then I will merge it, it is just that I would prefer some help if

[2021-03-07 16:24] WisdomPill commented on #500
Can you provide your settings? I personally do not use windows since a long time, probably decoding is missing. Also I do not even know if windows is supported, I remember that in past version you could provide a deserialize/decode configuration, have you checked the versions you are running?

[2021-03-07 16:25] WisdomPill commented on #499
Hello @AceFire6 thanks for pointing out this issue.

Would you be entered in making a PR to fix this?

[2021-03-07 16:30] #486 closed

[2021-03-07 16:30] #495 closed

[2021-03-07 17:43] WisdomPill commented on #430
Hello, I have been keeping an eye on the repo and helping with the issues and PR lately, I wanted to ask you for some help on releasing a new version as soon as #460 is closed. There are many people interested in that feature and some improvements since the last version has been released. Can you help?

[2021-03-19 11:42] laurentL commented on #426
hi,

I can try to test the merge request on a hudge plateform.
Is-it possible to create a branch with this PR merged ?

[2021-03-20 16:44] WisdomPill commented on #426
@laurentL I think you can use the repo of the PR for testing, anyway it has been sometime and I see in the PR that there are no real issue with the help of @severindellsperger, so I would say that if @laurentL can't test it within a week, I can merge and mark the feature as experimental. Do all of you agree? Just put a few thumbs up in this comment so I know that you are following and agree

[2021-03-21 15:05] laurentL commented on #426
my deployment system does not allow me to use PR or tag url to import
libraries. I must admit that if you can create an experimental package it
saves me a lot of time.

On Sat, Mar 20, 2021 at 5:44 PM Anas ***@***.***> wrote:

[2021-03-26 15:50] serafdev commented on #489
I'm having the same issue, were you able to fix this @REXIANN ?

[2021-03-29 07:02] pandrey2003 opened #504 "AttributeError: 'dict' object has no attribute 'split'"
Using your package, I came across an error:
[code]
The full traceback can be seen [here](https://dpaste.com/2P4S5D878), my settings config to reproduce the error is:
[code]
My project is built in Docker.

[2021-03-29 07:05] pandrey2003 commented on #504
Even when I removed all celery files, removed `celery` from `pipenv`, this error persisted.

[2021-03-29 07:17] WisdomPill commented on #504
Hello @pandrey2003,
what does `env.dj_cache_url` do?

What is the value that is passed to `LOCATION`?

[2021-03-29 07:33] pandrey2003 commented on #504
@WisdomPill I'm awfully sorry, there was the problem about how I used [dj_cache_url](https://github.com/epicserve/django-cache-url) in [django-environs](https://django-environ.readthedocs.io/en/latest/), which led to error. Nothing wrong with your awesome package, just my lack of acquisition with the documentation.

[2021-03-29 07:33] #504 closed

[2021-03-31 13:14] laurentL commented on #426
has the experimental package been created?

[2021-03-31 21:19] abbasidaniyal opened #505 "touch method converting seconds to milliseconds and then using pexpire instead of expire."
https://github.com/jazzband/django-redis/blob/afb00223729d5caafa8b63f3684532aaa63f1963/django_redis/client/default.py#L604-L606

My suggestions :
[code]

[2021-04-01 06:36] severindellsperger commented on #426
@WisdomPill I implemented the changes yesterday in our dev environment. It works without any problems - from my side, the PR can be merged.

For all others who are interested in the settings I used:
[code]

[2021-04-01 06:45] WisdomPill commented on #426
good to know, I am raging it right now, thanks @severindellsperger.

Also, I am sorry, @laurentL I saw your message and thought about writing how to create a wheel package of the library but ended up forgetting about it.

[2021-04-01 06:46] #426 closed

[2021-04-01 07:00] WisdomPill commented on #505
Hello @abbasidaniyal,

sorry but I am not convinced it is a good idea, first and foremost because it would be a breaking change and also because `django` uses timeout in seconds, so it would be counter intuitive. you could use a `float` for example `1.234` seconds to it will be `1234` milliseconds and it would work.

Let me know if i answered your question, otherwise I will close the issue in a we

[2021-04-01 08:31] severindellsperger commented on #426
@WisdomPill, thanks for merging it into main.
Is it possible for you to create a new PyPI package with the changes. Unfortunately, most users are not permitted to install it via pip via git tag/info in production.

[2021-04-01 08:33] WisdomPill commented on #426
I am afraid not, I do not have the permission to make new releases, I need to ask

[2021-04-01 08:44] severindellsperger commented on #426
It would be handy if you could contact the maintainers, who have permission to do it.

[2021-04-01 10:44] WisdomPill commented on #430
I need some assistance in releasing a new version, there is support for redis sentinel now.

@jezdez or @jdufresne can you help?

[2021-04-01 17:18] terencehonles commented on #426
@WisdomPill if acceptable by the parties that have push access to PyPI I could probably write a github action which packages the wheel and uploads it to PyPI on tag pushes (or some other criteria). I would just need to confirm what scripts/steps are run to package the wheel (in case there is something special) and then someone would need to add the PyPI credentials to the repository secrets stored

[2021-04-01 18:20] WisdomPill commented on #426
maybe you could ask in #430

[2021-04-01 18:43] terencehonles commented on #426
It looks like I misunderstood how jazzband projects are released. I don't _think_ this is needed or it's something that I would need to look into more. It looks like there are other steps needed in #430 regardless.

[2021-04-01 18:50] terencehonles commented on #430
@jdufresne @niwinz it looks like you both are listed as maintainers on PyPI and should be able to address the following:

@niwinz it looks like you are the maintainer on readthedocs.org and should be able to address the following:

I'm not sure who has been designated the project lead, but they probably should be selected and then answer the subsequent question:

[2021-04-01 18:51] abbasidaniyal commented on #505
Sure I get your point that it'll be a breaking change. However,
https://github.com/jazzband/django-redis/blob/afb00223729d5caafa8b63f3684532aaa63f1963/django_redis/client/default.py#L243-L251

The `expire` method uses expire method os the client with timeout is seconds. I believe checking for float should be a validation problem. The value of timeout could be `1.2345` and this would still break. I

[2021-04-01 18:58] WisdomPill commented on #505
agree, so just line 250 would change and a multiplication by a thousand is needed so that you can pass a float?

[2021-04-01 19:12] abbasidaniyal commented on #505
Sure, I think it'll be more consistant.
However, still my first preference would still be using seconds as the unit of time and client.expire method to update the timeout. But I guess that would require some discussion among the maintainers first.

Would be more than happy to take this issue up, irrespective of which approach is taken!

[2021-04-01 19:15] WisdomPill commented on #505
how can you use `client.expire` and be precise to the millisecond?

[2021-04-01 19:18] abbasidaniyal commented on #505
We can't. I just think providing precision upto milliseconds is not really necessary in a real world scenario. This is just what I feel personally and from what I've seen in projects (mostly in the comapny that I worked in) where django-redis was used.

[2021-04-01 20:28] jdufresne commented on #430
I did this just now. @jezdez, can you confirm all is set?

I'm no longer using django-redis in my day to day, so I'm probably not a good candidate for project lead. @WisdomPill, your contributions have been great, are you interested. Or anyone else for that matter?

[2021-04-01 20:52] jezdez commented on #430
@jdufresne I've accepted the invitation on PyPI, but we'll need to add the GitHub Actions workflow to hook up the release system. I'll take a look at it as soon as possible.

[2021-04-01 20:53] terencehonles commented on #430
I don't mind helping too, but I might be spread too thin if there are better candidates.

[2021-04-01 20:58] jezdez commented on #430
FWIW I would recommend to have multiple project leads as well..

[2021-04-01 21:02] terencehonles commented on #430
Well I use this project in production so I think I can dedicate at least some cycles to help out keep this project maintained. I registered with jazzband and joined the org. I don't mind co-leading with @WisdomPill if there aren't any other volunteers.

[2021-04-02 05:14] WisdomPill commented on #505
I think they can both use `pexpire` for more precision if needed. I personally do not see the reason to use it, but if somebody would want to expire a key after half a second it would be handy to give the ability to do it. Also because it comes "for free" without breaking changes

[2021-04-02 05:16] WisdomPill commented on #430
thanks @jdufresne, I would be glad to maintain the project.
If possible with the help of @terencehonles which seems active and interested in the project.

[2021-04-02 06:47] WisdomPill commented on #505
It seems related to #333 do you fancy stepping in and proposing a PR for that?

[2021-04-02 09:06] abbasidaniyal commented on #505
Yes I believe so too! Sure I'd like to take this up. Could you assign me the issue?

[2021-04-02 16:59] HoudaMallem opened #507 "get Error 111 connecting to redis-prod:6380. Connection refused."
I am using docker with docker-compose to deploy a Django app with Redis as a cache server
it works perfectly with default Redis port = 6379
once I change it I got this error
Error 111 connecting to redis-prod:6380. Connection refused.

my docker-compose file looks like

[code]

[2021-04-03 08:45] WisdomPill commented on #507
Hello @HoudaMallem this issue is not related to the library, most probably to your docker setup, therefore I am closing it.

I invite you to use other tools such as stackoverflow for this kind of issue.
I also suggest to put your settings there.

[2021-04-03 08:45] #507 closed

[2021-04-03 11:07] WisdomPill opened #509 "Update CHANGELOG for new release"
Before releasing the new version CHANGELOG has to be filled

[2021-04-03 11:26] WisdomPill commented on #461
@jianghong3 I would close the issue soon if there are no answers on whether and/or how did you solve it, it became kind of an old issue.

[2021-04-03 14:14] jdufresne commented on #461
Yeah, this looks like an error in the environment.

[2021-04-03 14:14] #461 closed

[2021-04-03 14:27] WisdomPill opened #510 "Fix codecov"
Just have a look at the readme, there is the codecov badge but the tests are not setup for coverage

[2021-04-04 02:35] krishp058 commented on #510
But what specifically do you want me to do?

[2021-04-04 07:47] WisdomPill commented on #510
Codecov does not get coverage sent to it after the tests, as a matter of fact if I remember correctly coverage does not even run. Let's close #506 first and then you could work on it so that we do not step on each other foot

[2021-04-04 14:39] WisdomPill commented on #510
Basically we need to switch to pytest and use pytest-cov.

It could be difficult, probably it is not a "good first issue", @krishp058 do you still want to give it a try or I could step in and fix it.

[Here](https://github.com/codecov/codecov-action#example-workflowyml-with-codecov-action) is the "tutorial" by codecov.

[2021-04-05 13:33] krishp058 commented on #510
Oh sorry about the late response, I think it should be best if you can do this because I'm not very well familiar with codecov and also I'm still a beginner so I was looking from something that would match my skillset. But I really appreciate you trying to give me a chance.

Thanks

[2021-04-07 05:09] WisdomPill opened #514 "Tests README"
README in tests is a txt file, GitHub does not format it, maybe it should me a rst file?

What do you think @terencehonles

[2021-04-07 06:30] terencehonles commented on #514
Oh wow, I didn't even realize that when I updated it 😅. Yeah it should be changed.

[2021-04-07 08:18] WisdomPill commented on #514
I guess it is a good first issue maybe for @krishp058 that wanted to help.

Basically it has to be changed to an rst file

[2021-04-07 08:21] WisdomPill commented on #510
@terencehonles let's talk coverage and whether to switch to pytest or not.

I have tried locally to use coverage.py it seems to work, but I don't know how to make it work with tox.
Another thing is that the tests are launched separately so code coverage will not hit some clients or serializers in now run as of now.

Do you have any proposals, I remember you talked about switching to pytest previou

[2021-04-07 08:21] WisdomPill opened #515 "Add unix socket tests to CI"
CI is missing unix socket tests

[2021-04-07 08:29] WisdomPill commented on #515
@terencehonles I guess we could add another instance of redis in [start_redis.sh script](https://github.com/jazzband/django-redis/blob/master/tests/start_redis.sh) to start an instance using unix sockets.

Am I right?

In case, I would be glad to take on the issue

[2021-04-07 11:12] annbgn commented on #499
it's been a month since last update, so I took the issue and made a pr

[2021-04-07 15:25] WisdomPill commented on #514
Sorry @krishp058, it was taken. Next time do you want me to assign to you some good first issue?

[2021-04-07 15:25] #514 closed

[2021-04-07 15:31] WisdomPill commented on #499
Thanks @annbgn I already left a review

[2021-04-07 15:32] WisdomPill commented on #500
@EquatorSavage a month has passed since the last reply, if no reply is given within a week or two I will take the issue as solved and close it

[2021-04-07 18:30] terencehonles commented on #510
I think I figured out what we need to do to cover it all. I'll take care of this.

My current thoughts: Instead of creating N test runners with different settings use pytest and one runner and use fixtures to stub out the different CACHES.

[2021-04-07 18:31] terencehonles commented on #515
No, I actually had fixed this with #506 and now we don't use a service definition and do the same thing as the test README suggests.

[2021-04-07 18:32] terencehonles commented on #515
Thanks for making sure this didn't get dropped!

[2021-04-07 18:32] #515 closed

[2021-04-07 21:08] terencehonles commented on #510
Sadly I had forgotten that the fixture parametrization I was thinking to use would not work with unittest style test cases. We'll probably want to migrate off of those, but for now running pytest multiple times and appending to the coverage file should be fine.

[2021-04-08 06:02] WisdomPill commented on #510
Do you want to create an issue for that?

Do you think it will be an easy issue for the people that want to help?

[2021-04-08 06:04] #510 closed

[2021-04-08 06:44] terencehonles commented on #510
Yeah, I'll create an issue for it and see if anyone is willing to bite

[2021-04-08 06:45] WisdomPill commented on #510
Thanks, if you can, also provide an example it would be easier for less skilled people.

[2021-04-08 17:49] terencehonles opened #521 "Convert unittest class base tests to pytest function tests"
By converting unittest class base tests to pytest function based tests we can use some nifty features of pytest such as fixtures* and parameterization :tada:

See: https://docs.pytest.org/en/stable/unittest.html#pytest-features-in-unittest-testcase-subclasses

Example of what needs to be done: #520

[2021-04-10 06:37] WisdomPill commented on #521
It has been merged now, as a matter of fact we could split `test_backend.py` unittest classes in it's own module (namely `backend`) to have smaller files, separate testing different aspects of the library and proceed by steps.

I think a test of one part of backend might simplify contributing.

@terencehonles do you agree?

[2021-04-10 20:20] terencehonles commented on #521
Definitely, the classes may make sense to be how things are split up (I haven't looked at how they are organized), and if someone needs to share fixtures between tests they can add the file `conftest.py` in the tests package and put the fixtures there. When placed there they will be requestable by any modules at or below that level.

[2021-04-28 09:32] laurentL opened #522 "New version"
Hi,
is it possible to package a new version with the sentinel protocol ?

Thanks a lot

[2021-04-28 14:18] WisdomPill commented on #522
Hello @laurentL do you mean a wheel package?

[2021-04-28 16:24] laurentL commented on #522
yes on pypi

[2021-04-30 11:54] WisdomPill commented on #522
for release I still do not know how to do them and need permission for that, I think @jdufresne can help with that since he made the last release.

Before releasing I still have to write release notes, to solve issue #509.

@jdufresne can you release a new version after I ping you here when I will sort out the last things to add before a new release?

In the meantime @laurentL if you are in a hurr

[2021-04-30 11:54] #428 closed

[2021-05-01 13:26] jdufresne commented on #522
@WisdomPill I don't mind doing another release. Please ping me when ready.

[2021-05-01 19:55] #499 closed

[2021-05-01 19:56] #483 closed

[2021-05-03 17:10] terencehonles commented on #424
The fact that Django itself uses pickle on its storage backends suggests that the problem should probably addressed in Django if at all. It would make sense for someone to propose that backends accept an object that provides serialization and deserialization that would be called when either of the operations need to be performed. By default that would be pickle unless they wanted to change their d

[2021-05-04 11:49] hartwork commented on #424
Hi @terencehonles,

thanks for your reply.  I think back when I opened this ticket in 2019 I did not have signature guards on the radar yet.  I agree that combining pickle with a signature guard could make a great solution in general.

Signature extraction and checking would either need to happen (a) before any serializer (and hence protect and make slower not just the pickle backend) or (b) insid

[2021-05-05 15:26] ZuSe opened #526 "Use Existing Connection Pool"
Hi guys,

i wanted to ask if there is the option to use an existing connection pool?
I have redis-py already in place for huey and would love to pass in my SentinelConnectionPool to django-redis as well.
So I need to define it once and can share it across all redis dependend clients.

e.g.  this is how it looks for huey
[code]

[2021-05-05 16:41] ericooliveira-mb commented on #461
I getting this error with Django==2.1.2 and Django-redis==3.8.4.
And i can't fix.

[2021-05-05 22:50] terencehonles commented on #526
IIRC that's not "exactly" supported by default, but making a trivial connection factory would be the way to do it https://github.com/jazzband/django-redis#customize-connection-factory

[2021-05-06 08:08] #360 closed

[2021-05-06 08:09] WisdomPill commented on #526
Hello @ZuSe!

Maybe the new feature added by @terencehonles supporting sentinel is what you are looking for?

[2021-05-06 08:11] WisdomPill opened #527 "[Discussion] Make other clients reflect DefaultClient methods?"
I can't not notice how other clients do not have certain methods that are in `DefaultClient` I suggest to create issues for making them complaint and adding a not supported or implemented exception where needed.

@terencehonles what do you think?

[2021-05-06 14:42] terencehonles commented on #526
I guess I didn't quite think of that :sweat_smile: . If the question is to use a redis sentinel I did contribute a connection factory recently that would likely work. If you did indeed want to use an existing pool or connection you'd need to use the connection factory as I suggested since the connection factory will create new connections and will need to be passed the same arguments you use for h

[2021-05-06 17:22] hartwork commented on #424
Do you have the resources to bring it up in Django, provide a pull request, and go through the review-fixing loop with them? I'm afraid I don't.

[2021-05-06 19:56] terencehonles commented on #424
I don't believe I do, or at least not at the moment, and this is not a high priority problem for me because where I am running redis it is in my full control and a take over of redis would likely provide bigger issues elsewhere.

If you don't have the time to bring it up with Django then this likely is a "won't fix", but I will leave this issue open in case your situation changes or someone else w

[2021-05-18 10:07] abdelwahebmoalla commented on #522
Thank you guys for your hard work, any estimated time of the new release? @WisdomPill

[2021-05-18 12:14] WisdomPill commented on #522
Sorry, I have not been working on the project lately, this weekend I need to change the CHANGELOG and then we can deploy.

[2021-05-19 19:54] allen-munsch commented on #497
I want to add to this. Wanted to get our local development in line with what we deploy on heroku.

Trying to setup redis6 with ssl support on docker using : https://github.com/allen-munsch/docker-redis-ssl-example

[code]

[code]

[2021-05-22 06:15] WisdomPill commented on #526
@ZuSe has your question been answered or you are looking for something else?

Just asking so that we could close this issue.

[2021-05-22 19:57] terencehonles commented on #526
Might it make sense to enable a stale bot to auto close issues like this? I'm not sure if we've been given permissions to install anything like that though :thinking: since I think we're still waiting on a number of things for "full" jazzband membership and I don't know if the org is set up to allow that every :confused:

[2021-05-22 21:26] ZuSe commented on #526
Hi @WisdomPill

yes, it's kinda answered. Now, the question would be more how you you guys think about providing Connection"-Pools from redis.py right away, but I think that can be discussed in another issue

@terencehonles  Could you maybe share ur connection factory? :)

Best

[2021-05-22 22:05] terencehonles commented on #526
@WisdomPill is referring to the one that was merged in with https://github.com/jazzband/django-redis/pull/460

[2021-05-25 09:13] crazy-canux opened #530 "Exception Value: __new__() missing 1 required positional argument: 'name'"
Django Version: 1.8.5
Python Version: 3.6.9
django-redis: 4.8.0
django-rest-framework: 3.3.1

django can set value to redis, but can't get data from redis.

Traceback:
File "/opt/src/project/.env/lib/python3.6/site-packages/django/core/handlers/base.py" in get_response
  132.                     response = wrapped_callback(request, *callback_args, **callback_kwargs)
File "/opt/src/project/.env/lib

[2021-05-25 09:25] WisdomPill commented on #530
Hello @crazy-canux, can you please share a snippet that reproduces the issue?

[2021-05-25 09:49] crazy-canux commented on #530
https://www.django-rest-framework.org/api-guide/caching/
I follow this guild to add cache to django-rest-framework.

[code]

I can see the key in redis after load the page on browser.
redis> select 1
redis> keys *
":1:views.decorators.cache.cache_page..GET.b31fc93eb1d364b4b466c2fddc3b73e8.d96d7cd887705ba571615e93962d710e.en-us.UTC"
But, after reload the page I got exception.

Exception Type: TypeE

[2021-05-25 21:19] steverecio commented on #363
Has anyone come up with an elegant solution / plugin for this? I've got some hacky workarounds but this would be great to have.

[2021-05-26 05:50] WisdomPill commented on #363
`django-redis` is a plugin cache for `django`, there are other tools for this, you can use `celery` or `rq`.

I would be not looking forward for something like this in `django-redis`, there are other tools for the job.

There are many not so simple problems that would come with such a feature and they are managed by the libraries I have mentioned, like retries and periodic tasks just to name a few

[2021-05-26 05:52] WisdomPill commented on #530
can you setup a dummy project to show the issue?

[2021-05-26 08:15] #530 closed

[2021-05-26 08:39] WisdomPill opened #532 "Tests are failing in django master"
Tests are failing for django master, can be seen in #531

[2021-05-26 08:51] WisdomPill commented on #532
Seems to be related to `tox`, @terencehonles do you have any idea on how to solve it?

[2021-05-26 11:15] neumantm commented on #532
Could
`django.utils.deprecation.RemovedInDjango50Warning: The default value of USE_TZ will change from False to True in Django 5.0. Set USE_TZ to False in your project settings if you want to keep the current default behavior.`
be the cause?

[2021-05-26 19:31] WisdomPill commented on #532
No, that's a warning there is also an `InvocationError` probably from `tox`

[2021-05-26 19:57] terencehonles commented on #532
The invocation error comes because the underlying command failed. It's the USE_TZ that's the underlying issue. I created #533 to fix the issue.

[2021-05-26 20:03] #532 closed

[2021-05-27 15:29] #509 closed

[2021-05-27 15:30] WisdomPill commented on #522
Hey, @jdufresne!

I just merged the `CHANGELOG`.
Can you take care of the release?
I thought to make it `5.0.0` since there are a lot of changes

[2021-05-27 15:39] WisdomPill commented on #526
Hey @ZuSe,

you can get `ConnectionPool` already like it is shown in the `README` [here](https://github.com/jazzband/django-redis#testing-with-django-redis)

[2021-05-27 15:58] terencehonles opened #535 "Use towncrier to generate release notes"
This issue is to investigate how much config is needed to configure [`towncrier`](https://towncrier.readthedocs.io/en/actual-freaking-docs/) or a similar tool to generate the release notes instead of manually generating them.

An investigation in the form of a PR will be evaluated for its complexity, and upon approval will become part of the PR process, shifting the burden of release notes to happ

[2021-05-27 16:04] WisdomPill commented on #359
@julen would you be interested in clearing out the doubt on the docs, maybe with a PR?

[2021-05-27 16:06] WisdomPill commented on #353
Is anyone of you interested in clearing out this doubt in the docs?

Maybe in a `FAQ` section

[2021-05-27 16:07] WisdomPill commented on #382
Closing this because there was no response and it is a year old

[2021-05-27 16:07] #382 closed

[2021-05-27 16:09] WisdomPill commented on #390
Was this question answered properly?

Maybe it is time to close the issue since there is no activity.

If there will be no response for a few weeks I will close it as it getting pretty old

[2021-05-27 16:11] WisdomPill commented on #497
Hello @venomone, sorry for the late response.

Have you solved your issue?

Is #353 what you were looking for?

[2021-05-27 16:12] #500 closed

[2021-05-27 16:21] julen commented on #359
I have no time to do so now, sorry. Feel free to reuse the words from my past comment if that's useful in some way.

[2021-05-27 16:35] WisdomPill commented on #398
What changes do you think should be made in the docs?

Have you seen [this](https://github.com/jazzband/django-redis#locks)?

[2021-05-28 06:32] #390 closed

[2021-05-28 13:22] #333 closed

[2021-05-28 13:22] #505 closed

[2021-05-30 22:49] jdufresne commented on #522
This is now done. Thanks everyone for the contributions!

@WisdomPill I would like this to be the last release I manage so please let me know what you need from me to make future releases possible from yourself or other Jazzband members and I'm happy to follow through with it.

[2021-05-30 22:49] #522 closed

[2021-05-31 05:25] WisdomPill commented on #522
yes, in #512 @terencehonles started the PR a GitHub action for releases, @jdufresne can you help there?

[2021-05-31 08:03] Mogost opened #537 "5.0.0 release is missed on github"
![image](https://user-images.githubusercontent.com/721963/120161287-cde39f00-c1ff-11eb-9085-3bf3e396e8d1.png)

[2021-05-31 13:18] jdufresne commented on #537
The tag is there now.

[2021-05-31 13:18] #537 closed

[2021-06-03 10:41] rajesitb opened #538 "Django-Redis on Heroku: Error while reading from socket: (104, 'Connection reset by peer')"
I've uploaded my project on Heroku. Settings in the settings.py are as per the docs.

CACHES = {"default": {"BACKEND": "django_redis.cache.RedisCache","LOCATION": os.environ.get('REDIS_URL'),"OPTIONS": {"CLIENT_CLASS": "django_redis.client.DefaultClient",}}}

However when I load a view function with "@cache_page" decorator, I get the error :

&nbsp; Error while reading from socket: (104, 'Connecti

[2021-06-03 11:12] WisdomPill commented on #538
Hello @rajesitb,

first and foremost, if you think this is a bug, if you think it is, it would be appreciated to have a sample code, settings and more details and context than the exception screenshots. For instance, is it happening with the latest release?

Second, I think you are not connecting in the right way, it can be because you are missing encryption settings. Never used heroku, are gettin

[2021-06-03 11:15] WisdomPill opened #539 "Add issue template"
Many times people open issues for issues not related to bugs but for knowing how to use the library, I suggest to add some disclaimers in the issue template for looking for answers elsewhere, like stackoverflow, and also add tags to the issues automatically, like question, bug and so on.

[2021-06-03 12:09] jezdez commented on #430
Sorry for the slow replies, I switched jobs and will take a closer look asap.

[2021-06-03 14:06] drulang commented on #538
@rajesitb Look in your heroku settings and see if you have `REDIS_TLS_URL`. If so, use that.  Otherwise you need to make sure you are using a secure connection (url should have `rediss`)

[2021-06-08 22:29] neumantm opened #540 "Using sentinel config hangs for many seconds if one or more sentinels are down"
Due to a poorly configured socket_timeout for the connection to the sentinels,
the connection may hang for many seconds or even minutes when one ore more of the configured sentinels are down.
Then the django cache hangs for the same time causing http timeouts for users.
This is bad, as the purpose of using sentinels is that something can go down without the user noticing.

A workaround is setting

[2021-06-12 00:25] joonyoungleeduke commented on #521
I can try working on this!

[2021-06-25 19:10] getup8 commented on #497
Hey @allen-munsch and @WisdomPill I'm having an issue with a premium-0 Heroku Redis instance after I upgraded from Redis 5 to Redis 6.2; the latter requires SSL.

Can you give an example of how the Django setup should look to get this working?  This is what I have currently and my cache_page() API call is now returning 500. This is based on the recommendation from [Heroku docs](https://devcenter.h

[2021-06-25 19:42] getup8 commented on #497
It seems to work now actually; I added the REDIS_CLIENT_KWARGS settings.

[code]

[2021-07-20 12:57] konstankinollc commented on #353
FYI, gents you can add `ssl_cert_reqs` with `none` value to the connection params in REDIS_URL, in case there is not ability to change additional CACHE params in the code.

E.g.

[code]

Will be equivalent to the following configuration:

[code]

See the source code here:
https://docs.celeryproject.org/en/stable/_modules/celery/backends/redis.html

[2021-07-25 14:39] MostafaTaheri commented on #379
@jadhavmanoj I think the below solution will be suit you:

1- You need to have a function to generate a redis key based on each process (now you do not lose the data of each process.)

2- Set a default time for expiry if the input parameter was none.

[2021-08-23 09:00] sarathak opened #542 "Sentinel commands have migrated in redis main"
Redis pre release test throwing error in CI

- Test Python 3.9, Django 3.2, Redis.py master
- Test Python 3.9, Django 3.2 main, Redis.py master

[code]

[2021-08-23 09:07] WisdomPill commented on #542
hello @sarathak,
redis master is allowed to fail as there might be new unreleased changes that will break the library.
Have you had look at what this might be?
Are you open to make changes to solve this for newer version of `redis-py`?

[2021-08-23 09:19] sarathak commented on #542
@WisdomPill

my opinion is we have to remove pre release test from CI

[2021-08-23 09:27] sarathak opened #543 "mypy CI failed"
mypy CI failed

[code]

[2021-08-23 10:33] WisdomPill commented on #542
why one earth would you want to do that?

pre releases is added for this very reason, so that we know that before releasing a new version we have to solve some issues first to support the next version of redis

[2021-08-23 10:40] #543 closed

[2021-08-23 11:06] WisdomPill commented on #542
In this case, sentinel and cluster commands have moved to it's own mixins, have a look [here](https://github.com/andymccurdy/redis-py/pull/1534). New commands are found [here](https://github.com/andymccurdy/redis-py/blob/e19a76c58f2a998d86e51c5a2a0f1db37563efce/redis/commands.py#L2953)

[2021-08-24 15:56] #539 closed

[2021-08-29 08:31] chayim commented on #542
We're planning on releasing a new redis-py in the short-term. This is a **great catch** that your project has in its pipeline, I highly recommend maintaining these tests. Note: We haven't broken the API itself, but I'd like to go down the path of more restructuring in the mid-term.

[2021-08-29 10:29] WisdomPill commented on #542
@chayim thanks for the notice.
Can you elaborate what kind of restructuring you have in mind? Just so we can get an idea of what and where do the changes.
Is this new version going to be a major release or not?

[2021-08-29 13:09] chayim commented on #542
Absolutely! In the short term - nothing. There's just these mixins. In the
long-term we'd like to get better cluster support, the string argument
building in place, etc. General goal is to *never* break an API.

Originally, I was pushing for the next release to be 3.6, but given that
there are many changes, and that projects have frequently pinned >=3.5.3 &&
< 4.0.0, I think 4.0 and onwards makes

[2021-09-11 14:54] ljodal opened #547 "Change pickle default version to Python default"
**Problem Statement**
This library defaults to the latest pickle protocol. This does not match Python's default version in all cases and can make it harder to perform safe upgrades.

When upgrading Python it can in many cases be useful to stay compatible with previous versions, for example if there's a need to do a rollback or rolling deploys are used. Using the latest pickle version cannot always

[2021-09-16 10:57] okapies opened #549 "SRANDMEMBER support"
**Problem Statement**
It seems `SRANDMEMBER` is not supported.

https://redis.io/commands/srandmember

**Describe the solution you'd like**
Add a feature to access `SRANDMEMBER`. `redis-py` (underlying implementation of `django-redis`) already has a support for it.

[2021-09-20 03:03] RyanAquino opened #550 "Clearing cache still serves cached data instead of fresh data"
Hello All,

Scenario: When deleting or clearing all cached data through django signal `post_save`; why does it still serves cached data when requesting a GET /products for example, even though my redis keys are empty? instead of sending a request to API again to retrieve the updated data

Products Model
[code]

post_save
[code]

Notes
- tested manually via swagger ui and xhr requests
- tested also

[2021-09-20 06:30] WisdomPill commented on #549
Hello @okapies,

sets are not supported, if we need to support `SRANDMEMBER` then we will need to support all the other methods interacting with sets.

My opinion is that you should use a redis connection instead of django cache or create your own client that supports sets.

[2021-09-20 06:31] WisdomPill commented on #547
Hello @ljodal,

nice catch, would you be interested in providing a PR to solve this issue?

[2021-09-20 06:34] WisdomPill commented on #540
@terencehonles since you are the one more familiar with sentinel, can you give your opinion here?

Is there only a need for more documentation?

[2021-09-20 11:56] ljodal commented on #547
Yeah, I can do that :)

[2021-09-21 17:34] terencehonles commented on #540
@neumantm do you mind creating a PR for updating the documentation if you think this is unclear?

I'm not compeletely sure if you're saying this _should not_ be set via `OPTIONS["SENTINEL_KWARGS"] = {"socket_timeout": 1}` since that seems fine to me.

If you _want_ to set the `connection_kwargs` that's documented in the section about the connection pool: https://github.com/jazzband/django-redis#co

[2021-09-21 17:41] terencehonles commented on #540
If you're interested it might make sense to update the code to ask a single sentinel for the info and if it hasn't responded in 500ms (or whatever makes sense for a failover) that another is asked. If the sentinel is just delayed and does return in 505ms the first response is used, but otherwise successive sentinels are tried instead of making them be queried in series (and also not in parallel, t

[2021-09-21 17:49] neumantm commented on #540
That is what I think should happen. And it also does happen already, but instead of the 500ms it takes about 30 seconds to failover, which is way to long. When doing the workaround as I described it is only 1 second, which is ok. However, I cannot
seem to find the code location where the about 30 seconds come from.

What is the default `socket_timeout` when using a minimal config (e.g. the `"minim

[2021-09-21 20:25] terencehonles commented on #540
What you're describing/suggesting exists is *not* what I am suggesting. I'm suggesting a lagged parallelism which allows overlapping connections.

You may also be interested in the "short hand" arguments and quite possibly `SOCKET_CONNECT_TIMEOUT` over `SOCKET_TIMEOUT`, but you may want both to be short (the first defaults to the other):
https://github.com/jazzband/django-redis/blob/827eb4e2607189

[2021-09-22 08:45] edmorley commented on #497
@getup8 Hi! Did you work out why you needed to add `REDIS_CLIENT_KWARGS` too, and not just `CONNECTION_POOL_KWARGS`. From code inspection, it seems that setting the latter on its own should be sufficient, since the options are passed down to the client. Or was the connection pool disabled in your app?

[2021-09-26 07:27] WisdomPill commented on #550
hello @RyanAquino, I am not very familiar with caching pages, can you write a unittest to reproduce the problem?

[2021-09-26 07:28] WisdomPill commented on #549
closing as it is invalid.

[2021-09-26 07:28] #549 closed

[2021-09-29 11:21] RyanAquino commented on #550
Hi @WisdomPill , sorry this issue might not be valid on this repo. I posted my question to [stackoverflow](https://stackoverflow.com/questions/69316195/django-rest-framework-still-respond-with-cached-data-even-after-having-empty-red) to better understand the issue.

Will proceed to close this issue

[2021-09-29 11:21] #550 closed

[2021-10-07 14:28] WisdomPill opened #552 "Consider asyncio and aioredis"
**Problem Statement**
As [django 4](https://docs.djangoproject.com/en/dev/releases/4.0/#cache) is on his way, with support for async cache, a question came to my mind, to support `a...` methods, should be just wrap sync methods in the async call, without making it really async or start to use some async client like `aioredis`?

**Describe the solution you'd like**
Start using aioredis to make `dja

[2021-10-07 22:19] terencehonles commented on #552
ooo, this is cool (Django support coming down the pipeline). I haven't looked into aioredis, but whatever we choose it should probably be as compatible with our previous redis driver options. I'm going to be tied up for at least a week or so, but this is definitely something I'd be interested in discussing. We probably need to look at how much the two different redis drivers differ.

I'm going to

[2021-10-09 14:47] timkofu opened #554 "[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: self signed certificate in certificate chain"
**Describe the bug**
django-redis fails when accessing **`heroku-redis`** via the `REDIS_TLS_URL`

**To Reproduce**
Steps to reproduce the behavior:
1. Set django-redis as the cache
[code]
2. Use the cache as the session engine
[code]
3. Deploy to Heroku
4. Try to login to Django admin

**Expected behavior**
Successfully login to Django admin panel.

**Stack trace**
Error 1 connecting to xxx.compu

[2021-10-22 13:31] erayerdin opened #561 "Using ZstdCompressor fails Pytest to Launch"
**Describe the bug**
Setting up `CACHES["default"]["OPTIONS"]["COMPRESSOR"]` to `"django_redis.compressors.zstd.ZStdCompressor"` fails to launch `pytest`.

**To Reproduce**
Steps to reproduce the behavior:

**Step 1**: Set up a Django project. (mine uses [this](https://github.com/erayerdin/sos-django-template) template)

**Step 2**: Set the caching options as below:

[code]

**Step 3**: Install `p

[2021-10-27 07:30] WisdomPill opened #562 "Roadmap for next release"
There are a few new things for the next release already.

Can we discuss on what is blocking the next release? Maybe call it even 5.1.0

I would say to solve the problem with redis-py>=4.0.0 is the only blocker

@terencehonles what do you think?

[2021-10-27 19:40] Dev-Manohar opened #563 "How to utilize LRU/LFU ?"
Is there a way to utilize LRU with `django-redis` package or any other eviction policy (LFU) ? as mentioned in the official [Redis LRU Documentation](https://redis.io/topics/lru-cache)

Or as mentioned in this script -> [Redis-backed LRU cache decorator in Python.](https://gist.github.com/abulka/6ab5b2afc5d1adda6f08126a617dd02a)

I would be interested to learn any work arounds too

These are the k

[2021-10-29 13:16] puittenbroek opened #564 "Default client does not return boolean value of the `expire` action of redis"
**Describe the bug**
`expire` does not return the redis client expire value, which returns `True` if the key was actually in redis.
Or `False` if it wasn't present.
This means we have to manually check if they key is (or was) there after calling expire.

**To Reproduce**
Reproduced via shell_plus:
[code]

**Expected behavior**
The return value of `expire` is returned instead of dropped.

Code [her

[2021-10-30 13:45] rajesitb commented on #538
REDIS_TLS_URL works fine with the following setting:

"CONNECTION_POOL_KWARGS": {
    "ssl_cert_reqs": None
},

Thanks to all of you for your inputs.

On Thu, Jun 3, 2021 at 7:36 PM Dru Lang ***@***.***> wrote:

--
*R a j e s H*
*+919436000168*

[2021-11-01 08:35] #563 closed

[2021-11-01 08:37] WisdomPill commented on #562
Agree.

I would like to finish sorting out the return value of `pexpire`, `expire`, `expire_at` and `pexpire_at`.

Seems like the return value is missing, let's wait for #565 then we can release `5.1.0`

[2021-11-02 13:05] #564 closed

[2021-11-07 10:22] WisdomPill commented on #562
Hello @terencehonles,

I have some issues reproducing and solving the issue of sentinel disconnection.

I guess I need to learn better on how to use tox and redis sentinel.

@terencehonles can you have a look at the issue?
Or we can just limit the `redis-py` dependency for `redis-py<4` as you suggested previously and try to make our first "independent" release.

[2021-11-08 10:35] terencehonles commented on #562
@WisdomPill I'm not sure I'm following your first part about tox and redis sentinel. If you're just wondering how to start both you can use `./tests/start_redis.sh; ./tests/start_redis.sh --sentinel` and at that point you should be able to use tox just like the CI does. I'll poke at the tests to see if it's trivial to support redis-py 4.x since it's in RC now and hopefully won't change too much.

[2021-11-08 10:47] WisdomPill commented on #562
I did use your scripts, with some light change because I am on macOS, I managed to run redis and redis sentinel but still did not manage to run tox without lots of errors, I did not spend mush time on it.

[2021-11-08 12:56] terencehonles commented on #562
I looked into this for quite awhile and it looks like this needs a pretty large re-working. The sentinel config will need make sure it's using the right connection pool and sentinel for the changes in redis-py. I'll create an issue for this, but we should probably just release with redis<4 for now.

[2021-11-08 13:04] terencehonles opened #569 "Support redis-py 4.0"
**Problem Statement**

The [Redis Python client is now in RC1](https://github.com/redis/redis-py/releases/tag/v4.0.0rc1) but introduces some breaking changes (specifically seen with the Sentinel configuration). This library should be updated to support the new changes ideally in a backwards compatiable manner.

[2021-11-16 10:34] pythonwood commented on #424
TypeError: Object of type 'Response' is not JSON serializable

[2021-11-16 10:37] pythonwood commented on #424
drf Response is not ok while I set `"SERIALIZER": "django_redis.serializers.json.JSONSerializer",` and use `@method_decorator(cache_page(30))`  just like [drf doc](https://www.django-rest-framework.org/api-guide/caching/)

`TypeError: Object of type 'Response' is not JSON serializable`

change to pickle serializer is ok

[2021-11-18 23:25] terencehonles commented on #562
@WisdomPill I think we probably should cut the release since it looks like redis 4 is already out. Was there anything else you wanted to include? Did you want to do it or do you want me to push to jazzband?

[2021-11-19 09:36] WisdomPill commented on #562
I personally do not understand how the publishing works.

I would be happy to learn, if `redis<4` is pinned we can release of sure.

[2021-11-19 09:43] terencehonles commented on #562
@WisdomPill yup, it's pinned. You should be able to follow https://github.com/jazzband/django-redis/blob/master/RELEASING.rst for what I believe should happen.

[2021-11-20 12:30] WisdomPill commented on #569
there is already an issue for this, it is #542

[2021-11-20 12:33] WisdomPill commented on #562
Okay, I could try, I don't really get the step 5, should I have PyPi access for it?

[2021-11-20 13:17] terencehonles commented on #569
Well I think they're related, but is this the only thing that's broken in redis 4?

[2021-11-20 13:19] terencehonles commented on #562
You would upload it through jazzband which is what I had linked to right before the pypi comment since you're doing that, but via the previous link.

[2021-11-26 14:22] Mogost commented on #562
Could someone release a new version with a pinned version of redis-py?
Every day without this release, someone can install incompatible versions.

[2021-11-26 14:26] WisdomPill commented on #562
yep, it is in my plans to do so, I will do this weekend I guess

[2021-11-29 08:34] Mogost commented on #562
@WisdomPill There is any updates?

[2021-11-29 13:12] WisdomPill commented on #562
@Mogost I am really sorry, I completely forgot about it and been busy with other personal projects this weekend.

I prepared the release, and you can see it in the mentioned PR.

[2021-11-30 13:08] #562 closed

[2021-11-30 16:37] WisdomPill commented on #562
Released

[2021-11-30 16:56] terencehonles commented on #561
@WisdomPill released 5.1 with #562 / #573 so this functionality should now be included. @WisdomPill any thoughts on ^^^ or do we want to just set a mor regular release cadence?

[2021-11-30 16:56] #561 closed

[2021-11-30 17:55] WisdomPill commented on #561
I don't think we are the state to start making regular releases, I suggest making them as they come, we can start with release candidates, of course, for just added features that are not yet worth the full release or are not yet production ready as for your past contribution for sentinel.

[2021-11-30 18:50] terencehonles commented on #561
@WisdomPill and what do you think about the branching strategy? or should we not bother with that?

[2021-11-30 19:02] WisdomPill commented on #561
@terencehonles well, as a matter of fact we should also change the main branch name to `"main"` as per GitHub guidelines and so on.

I am not against creating different branches as @erayerdin pointed out,
but let's look at the situation of things, this project does not receive tens of commits each day,
not even a commit a day, so the master is not really something too unstable that changes too muc

[2021-11-30 19:05] WisdomPill commented on #561
for `zsdt` which raised the issue, it is more about us not putting `zstd` in the requirements than having different branches.

For me `master` or `main` branch should always be deployable, otherwise another branch for accepting PRs (for some long migration or something) should be created.

[2021-11-30 21:08] terencehonles commented on #561
@WisdomPill I'm fine either way, and my default stance is we can keep things as they are, so it sounds like you're suggesting the same. I'm fine w/ changing the default branch, but I don't think we _need_ to (I assume the GitHub guidelines are probably a suggestion instead of a guideline?).

[2021-12-01 05:20] WisdomPill commented on #561
@terencehonles it was just an example regarding the branches, it's not my main priority 😄

[2021-12-01 05:24] WisdomPill commented on #379
@jadhavmanoj reading again your issue it seems to me you need to have locking mechanism which is supported through `cache.lock("lock_name")` and actually uses redis lock. Feel free to reopen if you have other considerations or I did not answer your question

[2021-12-01 05:24] #379 closed

[2021-12-01 05:27] WisdomPill commented on #430
@jezdez @terencehonles @jdufresne @niwinz

Yesterday we released the first version "independently" using GitHub actions.

I think `readthedocs` was dropped in favor of `README`,
but I don't remember if it was done because of some account issue.
I do not mind to keep using the `README` so maybe this issue can be closed?

[2021-12-01 10:01] terencehonles commented on #430
I _would_ like the readthedocs page to be updated, I had contacted @niwinz before, and this is a friendly reminder that it would be nice if you could add the jazzband-bot and possibly myself to the mainter list on https://readthedocs.org/projects/django-redis/ I can then finish the other steps and add @WisdomPill as an additional maintainer if I have access to the project.

[2021-12-01 10:37] WisdomPill opened #574 "Adapting redis-py tox strategy"
@terencehonles regarding tests,
lately I have been contributing a little to redis-py and I saw how they are using tox with docker for setting up the environment.
I find it very clean and elegant since you just need docker running and the test suite will take care of the rest.

Would you mind taking a look and get back to me?
I would like to have something similar in the future for django-redis as

[2021-12-01 11:13] terencehonles commented on #574
Thanks for the link, I'll try to look at this sometime soon, but a little busy at the moment. Thanks for handling the release :slightly_smiling_face:

[2021-12-01 17:31] hartwork commented on #542
This issue is supposedly fixed by commit https://github.com/redis/redis-py/commit/d2b233384458869270352b8c99ca682ae480da5f that is included in redis-py >=4.0.**2** already today. The commit adds method `Redis.sentinel_masters` by making class `Redis` inherit from `SentinelCommands` where the related code resides.

As a result, blocking redis-py 4.0.2 in pull request #570 may cause more harm than g

[2021-12-03 15:26] hartwork commented on #542
PS: I have created a related pull request #576 for review just now.

[2021-12-13 14:35] hartwork commented on #569
CC #575 #576

[2021-12-13 15:07] #542 closed

[2021-12-14 11:06] vishalpandeyvip opened #578 "Need help for redis sentinel"
Can anyone please explain to me the working of Redis sentinel as per this image?
![1_gszoEBW0lupbMDDGGgYOPA](https://user-images.githubusercontent.com/60269359/145986826-0921e626-67c9-4591-90a7-3461a69b9851.png)

[2021-12-15 19:27] #578 closed

[2021-12-17 10:59] aleehedl commented on #569
Is there any estimate when this will be available in a release?

[2021-12-17 16:13] WisdomPill commented on #569
I can release in the next days, max Monday.

Can I ask why you are looking for redis-py 4 as a dependency?

[2021-12-17 16:20] WisdomPill commented on #552
Seems like async is already supported because `BaseCache` wraps async calls in `sync_to_async`, look [here](https://github.com/django/django/blob/b0d16d0129b7cc5978a8d55d2331a34cb369e6c7/django/core/cache/backends/base.py#L145)

[2021-12-17 16:22] WisdomPill opened #579 "Add django 4 to CI"
**Problem Statement**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or s

[2021-12-17 16:52] WisdomPill commented on #574
I would also add testing for the last supported versions of redis, which are described [here](https://redis.io/topics/releases).

I do not like the idea of increasing the testing matrix so much, so I guess now only 6.2 and 5.0 should be enough since they are the only ones who are going to get the security patches.

Last but not least I would test for redis-py 3 and redis-py 4, so a little bit of a

[2021-12-17 16:56] WisdomPill commented on #569
I would wait for #580 to be merged and then release

[2021-12-21 07:20] aleehedl commented on #569
Yeah, because redis-py 4 was already installed into a production system and I'm not sure how a downgrade would pan out.

[2021-12-21 07:33] WisdomPill commented on #569
I can say that the only known issue is with sentinel commands that are different in 4.0.1 and 4.0.2, the rest of the versions are supported, I am waiting for @terencehonles to review #580 to support django 4 and drop support for django 2.2

[2021-12-21 17:44] WisdomPill commented on #569
Will release tomorrow

[2021-12-22 14:48] #569 closed

[2021-12-28 11:19] AqeelAT opened #585 "Is this relevant with Django 4.0?"
Since Django 4.0 has native redis support, do we still need to use this library?

[2021-12-28 11:49] WisdomPill commented on #585
**DISCLAIMER** I am biased, since I am a user and a maintainer of `django-redis`.

Yes, but the native support of `django` 4 is very basic,
if you need a compressor, serializer, connection pool or sentinel support you can not do that with `django` native support,
in some cases it would be very difficult (sentinel and compressor),
in other not so much (serializers).

Furthermore, if you need more c

[2022-01-14 10:19] abdellahTchikou opened #587 "Skip Redis 6 self-signed certificates not working?"
Hello,

I am using Django 4.0.1, Redis 6.2.6 and django-redis 5.2.0
I am trying to skip the Redis 6 self-signed certificates by using this :

CACHES = {
    "default": {
        "BACKEND": "django_redis.cache.RedisCache",
        "LOCATION": os.environ.get("REDIS_URL", "redis://localhost:6379/1"),
        "OPTIONS": {
            "CLIENT_CLASS": "django_redis.client.DefaultClient",
            "CO

[2022-01-17 13:29] #587 closed

[2022-01-22 12:31] korsar182 opened #588 "UnicodeDecodeError"
True

Traceback (most recent call last):
  File "<console>", line 1, in <module>
  File "/home/vagrant/.local/share/virtualenvs/white-labeling-z-SFsspa/lib/python3.9/site-packages/django_redis/cache.py", line 91, in get
    value = self._get(key, default, version, client)
  File "/home/vagrant/.local/share/virtualenvs/white-labeling-z-SFsspa/lib/python3.9/site-packages/django_redis/cache.py", line

[2022-01-24 08:10] korsar182 commented on #588
Sorry, wrong setting decode_responses=True

[2022-01-24 18:43] lotfyhussein commented on #550
Hi @RyanAquino

Were you able to solve this issue? I'm facing the same behavior.

[2022-01-25 06:30] WisdomPill commented on #550
@loftyhussein please have a look at the stack overflow question.

It might be that you have the same issue of cookies telling your browser that the cache is valid for a specific amount of time.

[2022-02-11 21:13] micah-yeager opened #590 "Support for supply the master name for connections via Sentinel?"
First off, apologies if this isn't the right place to ask this — feel free to redirect me.

I'm trying to implement this project for caching in our Django project, using a Redis cluster in Kubernetes. This requires supplying the master name to the sentinel.

We have Celery functional using this, which takes the form of the following config in Django:

[code]

I'm attempting to set up caching using

[2022-02-14 17:27] micah-yeager commented on #590
Apologies, I didn't read the README closely enough. Fixed with supplying the master name in the `LOCATION`:

[code]

[2022-03-01 21:17] ughstudios opened #591 "Please add type hints"
Add type hints

[2022-03-04 15:29] leetrout commented on #591
They have types floating around (like in the client) but they are throwing them away when things surface through utility functions and such so mypy happily marches on with implict `Any` at every turn.

This should be fixed IMO but I am not interested in doing the work if a PR for this is not wanted.

[2022-03-18 16:40] rishindoshi opened #593 "Connection Closed by Server Errors"
Hey everyone hope you're doing well!

I have a Django application on v3.2.11 and I'm trying to hook it up to a redis cache using this package. Testing the application with a local instance of redis works perfectly, but when trying to connect to a remote redis instance I have hosted on Digital Ocean, I keep getting the "Connection close by server" error.

My settings.py cache config is set up as fo

[2022-03-23 07:19] AditMulyadi commented on #588
Hi @korsar182, how do you fix the error, just change the decode_responses to False?

[2022-03-23 07:20] AditMulyadi commented on #588
Hi @korsar182, how do you fix the error, just change the decode_responses to False?

[2022-03-23 07:20] AditMulyadi commented on #588
Hi @korsar182, how do you fix the error, just change the decode_responses to False?

[2022-03-23 08:01] korsar182 commented on #588
Hi @AditMulyadi
yea, setting "decode_responses": False did the trick)

[2022-03-26 05:16] tasiotas opened #594 "socket timeout option ignored"
Hi,

django-redis==5.2.0
django==3.2.12
redis:6-alpine
python 3.9.11

I set timeouts for socket connection to 1 sec, but is still takes 30 secs to skip cache and make a query.
Do I understand those options correctly, if Redis is unreachable, django will query db after 1 sec by skipping cache?

I simply turn shutdown Redis service and visit url that makes a query.

Here is my cache setup in setting

[2022-03-29 09:34] syphar opened #595 "reading cache breaks with int-enums with redis-py >= 4.0"
**Describe the bug**

When trying to update our app from `redis-py==3.5.3` to `redis-py==4.2.0` we stumbled onto a problem. While it only started breaking with the new redis-py version, I believe it's actually a bug here in `django-redis`. This also happens with any version of  `redis-py>=4.0.2`.

I'm happy to provide a PR if this is seen as a bug.

I see in `DefaultClient.encode` that we have spe

[2022-03-29 20:29] WisdomPill commented on #594
Hello @tasiotas.

`SOCKET_TIMEOUT` is a parameter for the connection to redis when it does not respond.
What you are talking about is `timeout` in the django redis backend.
To change that you need to provide the timeout parameter when you are writing to cache.
By default django uses 30 seconds, which explains the behavior you are seeing.

I am closing this since it is not a bug, feel free to reply

[2022-03-29 20:29] #594 closed

[2022-03-29 20:38] WisdomPill commented on #595
Hello @syphar.

To me it sounds very weird that `django-redis` is the issue,
as far as I remember there are no changes in the encoding or decoding.

I would recommend to do a test to be sure, forcing redis-py to version 3.x.

It seems also pretty strange to me that you want to save an enum to cache,
you can just save the integer and when you read it parse it to the desired enum. It is much faster.

[2022-03-30 04:59] syphar commented on #595
you can just save the integer and when you read it parse it to the desired enum. It is much faster.
For speed, security and "debuggability" reasons I would also drop pickle and use json or msgpack.

I get the debugability & speed points, security only if you assume your cache is compromised (but then the world is on fire anyways :) ).

In our case "ease of use" wins.

I would expect a cache with p

[2022-03-30 14:39] thenewguy opened #596 "Default client does not pass `blocking` kwarg through lock method"
Traceback:
[code]

This should be an acceptable kwarg per https://github.com/redis/redis-py/blob/3.5.3/redis/lock.py#L74 and the threading.Lock implementation.

It is not listed in the `lock` signature on the default client at https://github.com/jazzband/django-redis/blob/5.0.0/django_redis/client/default.py#L329

[2022-03-30 14:57] WisdomPill commented on #596
That is a `redis-py` [issue](https://github.com/redis/redis-py/issues/1348) which should be taken care of there.

[2022-03-30 15:01] thenewguy commented on #596
@WisdomPill ^

[2022-03-30 15:02] thenewguy commented on #596
`DefaultClient.lock` does not accept **kwargs and does not list `blocking` as an argument it accepts in the signature

[2022-03-30 15:04] WisdomPill commented on #596
sorry, I thought you were using lock as context manager

[2022-03-30 15:13] WisdomPill commented on #596
I would add `*args` and `**kwargs` to that function, would you be up for a PR?

[2022-04-03 07:09] #588 closed

[2022-04-03 07:14] WisdomPill commented on #591
A PR is very well welcome. :)

The reason for many `Any` is because of the nature of `redis`,
which could use any bytes as a key or value, even images, because it treats everything as `bytes`.
I asked around in for a standard in the past in `django-stubs` for the cache and `typeshed` for redis without success.

Now I saw that `redis-py` started adding type hints which could be a good starting poin

[2022-04-03 07:17] WisdomPill commented on #593
Hello, sorry for the late reply.

Were you able to connect using plain `redis-py`?

I know this is a recurring subject with `django-redis` and perhaps some more documentation should be written about it.

I invite you to have a look here #497 and in case open a PR for pointing this out in the documentation

[2022-04-03 07:19] WisdomPill commented on #595
I just wanted to let you know that I have tried and confirmed your bug,
but I am not sure, I think it is writing some kind of representation as a string and reading it as a number,
I did not have time to finish having a look at it but I will keep you updated when I trace the root of the bug.

Thank you for raising the issue.

[2022-04-03 10:30] WisdomPill commented on #591
if you are up for a PR [here is the typing module of redis-py](https://github.com/redis/redis-py/blob/876cafc56ff465af5639a92ea18625f49de47563/redis/typing.py). Otherwise I can take it.

[2022-04-03 13:53] WisdomPill opened #597 "Add support for sets"
**Problem Statement**
`django-redis` should introduce sets and support basic operations, `sadd`, `sremove`, `smembers`, `sismembers` and `spop`.

**Describe the solution you'd like**
Add an interface similar to `redis-py` to support set

[2022-04-03 13:57] WisdomPill opened #598 "Add support for hashmaps"
**Problem Statement**
`django-redis` should introduce hasmaps and support basic operations, `hset`, `hdel`, `hlen`, `hkeys` and `hexists`.

**Describe the solution you'd like**
Add an interface similar to `redis-py` to support hasps

[2022-04-09 16:05] saranglakare commented on #332
I am facing this problem with django-redis 4.11.0 / Django 1.11 / Python 3.7.

I added `"REDIS_CLIENT_KWARGS": {"decode_responses": True},` but I was still getting `bytes` response for stored `str` values.

Next I tried to override `ConnectionFactory` as show in the above answer and it worked! This indicates to me that `decode_responses` option passed to `REDIS_CLIENT_KWARGS` does not work. Any id

[2022-04-09 16:27] saranglakare commented on #332
Found something relevant. It seems the `REDIS_CLIENT_KWARGS` is not working because

See this thread: https://github.com/redis/redis-py/issues/910#issuecomment-395837502

[2022-04-10 10:33] rpop0 opened #600 "Session expiration time"
Hi,

I started using this for caching sessions in my project, but an issue I have is that they expire a bit too quickly and the users constantly have to log back in. Any way to set the expiration time for them?

[2022-04-10 13:29] millerthegorilla commented on #600
SESSION_COOKIE_AGE?    https://docs.djangoproject.com/en/4.0/topics/http/sessions/#browser-length-sessions-vs-persistent-sessions

[2022-04-10 14:08] rpop0 commented on #600
It is set to the default 2 weeks but it expires multiple times per day.

[2022-04-10 14:44] WisdomPill commented on #600
It seems very strange to me, so I advise to take a look at expiration time using `TTL` command
or trying `django.contrib.sessions.backends.cache_db` or `django.contrib.sessions.backends.db`.

`django-redis` does not implement anything on top of django's session backends so this behaviour is implemented in django itself.

Did you add any other `SESSION_*` variable in settings?

[2022-04-10 16:59] millerthegorilla opened #601 "unable to delete template fragment cache key"
**Describe the bug**
I am unable to delete a key that exists in the cache using make_template_fragment_key to obtain the key and then django.core.cache.delete to delete the key.

**To Reproduce**
Steps to reproduce the behavior:
1. In template, make fragment cache key  ```{% cache 30 "comment" comment.id comment.slug using="default" %}```
2. In view obtain cache key using make_template_fragment_ke

[2022-04-11 03:12] irfanpule commented on #485
Hai @chenguanyou , how do you solve this issue? I get same issue after after upgrade OS, but I still create env with same python version.

[2022-04-11 03:15] irfanpule commented on #485
I got it. Enter into redis-cli and `FLUSSALL`

[2022-04-12 14:37] AlexDaniel commented on #373
https://github.com/jazzband/django-redis/issues/598 seems to be a duplicate of this. And yes, a very needed feature.

[2022-04-13 17:03] millerthegorilla commented on #601
using redis-cli inside podman redis container, I noticed my mistake..  In the template, I had the key name of comment, but I had wrapped it in quotes.  The key given by django.core.cache.caches, listed the key without the escape sequence, where redis-cli listed the key with the quotation marks escaped.  I removed the quotation marks in the template cache instruction, and the key deleted as expecte

[2022-04-13 17:03] #601 closed

[2022-04-18 06:23] WisdomPill commented on #600
@rpop0 any news about this? otherwise in a week or so I will close this

[2022-04-18 07:33] WisdomPill commented on #595
Hello @syphar sorry for the delay, yes were right, I will add an option to force encoding, in that case the decoding if using `pickle` as a serializer will always try to decode it. Would that work for you?

[2022-04-18 08:17] WisdomPill commented on #596
Actually

[2022-04-18 08:21] WisdomPill commented on #596
I would suggest to open an issue and maybe a PR in `redis-py` first and then make changes to `django-redis`, otherwise the desired behavior is not possible.

[2022-04-18 19:08] rpop0 commented on #600
No news about this, everything seems to be set correctly, but the sessions still expire prematurely.

[2022-04-18 19:17] WisdomPill commented on #600
Have you made the tests I suggested? Can you share cache related settings? Can you reproduce the issue elsewhere (demo application)?

[2022-04-20 15:52] saranglakare commented on #585
I feel you should integrate with `django`. There's no point in having extra package for such a core functionality. At the same time, I agree with you that `django-redis` is for those who have fixated on using `redis` for their cache.

[2022-04-27 09:36] moonseoklee opened #604 "Feedback on connection error"
If the redis server is unreachable, it is not known when the Django server starts. You may encounter a connection error when attempting to connect to a session (get key or set key).

Can you give me feedback or error about the connection status of the redis_session server when running the Django server? Like setting up a database.

Or is there a reason why this was intended?

[2022-04-27 09:45] #604 closed

[2022-04-27 09:45] moonseoklee commented on #604
Sry, I confused with django-redis-sessions

[2022-05-11 12:10] FlipperPA commented on #585
It would be awesome to see some of these features make it upstream into core. Not having to wait for packages to add support for new versions of Django is a big win.

[2022-05-18 12:41] helgi-reon opened #606 "Does not work with Redis Cluster."
**Problem Statement**
Use `django-redis` with redis clustering.

An error occurs when interacting with the cache.
The error points to a pickle operation on an instance of the `ConnectionPool` class where
one of it's attributes, a thread lock, cannot be serialized and results in the following error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run a redis cluster that `REDIS_URL` p

[2022-05-27 19:10] helgi-reon commented on #606
Ok, good to know. I'll definitely contribute when and if I find a solution 😀

[2022-05-27 19:25] WisdomPill commented on #606
You will need to create a different client probably, and figure out what is the difference when using `RedisCluster` client. I would have a look at tests in `redis-py`.

[2022-05-27 23:03] getup8 commented on #585
FWIW it does look like Django supports `hiredis` and potentially connection pools?

From lower down the page at https://docs.djangoproject.com/en/4.0/topics/cache/#redis-1 :

[2022-05-31 06:28] WisdomPill commented on #606
maybe I am into something... but could you try again? maybe this helps? redis/redis-py#2189

[2022-05-31 09:50] helgi-reon commented on #606
I managed to get the caching working in Django while using a Redis Cluster. It was achieved with a little trial and error approach so it most likely not an optimal solution.

[code]

[code]

The most interesting part is the deletion of the connection pool attribute. For some reason the connection pool made the correct number of connection nodes **but all with the same port**. That meant that most

[2022-05-31 10:13] WisdomPill commented on #606
nice! would you like to open a PR with cluster support?

[2022-06-03 22:29] konstantinmds opened #608 "retrieve redis connections from caching setting"
`CACHES = {
    'default': {
        'BACKEND': 'django_redis.cache.RedisCache',
        'LOCATION': 'redis://127.0.0.1:6379',
        'OPTIONS': {
            'CLIENT_CLASS': 'django_redis.client.DefaultClient',
        },
        'KEY_PREFIX': 'pk_default'
    },
    'notifications': {
        "BACKEND": "django_redis.cache.RedisCache",
        "LOCATION": "redis://127.0.0.1:6379/1",
        "OP

[2022-06-08 17:00] jdbit opened #609 "Slow delete_pattern()"
Hi, I have a problem with delete_pattern() function.
This code with cache.delete_pattern() is very-very slow:
[code]

But when I rewrite the code, it works blazing fast:

[code]
Why the delete_pattern()  is so slow? Is it a bug or I'm doing something wrong?

[2022-06-09 03:00] krju13 opened #610 "redis-sentinel connection error "AUTH <password> called without any password configured for the default user. Are you sure your configuration is correct?""
Hi exports.
I am in the troble with django-redis.
I use django-redis version django-redis>=5.0.0,<5.1.0.
and I make docker image with django application.
and I try to connect to redis-sentinel.
but the django application just return the error like below.
` ERROR - create_cache: AUTH <password> called without any password configured for the default user. Are you sure your configuration is correct?`

[2022-06-09 04:35] WisdomPill commented on #610
I am no expert in sentinel, @terencehonles coukd you help with this?

Otherwise I will dig in the code sometime in the next few days

[2022-06-09 09:04] tmarice opened #611 "Add exception info to logger message when exceptions are ignored"
We're using django-redis as a session cache backend for our Django project, with DJANGO_REDIS_IGNORE_EXCEPTIONS and DJANGO_REDIS_LOG_IGNORED_EXCEPTIONS set to True.

Unfortunately, we're experiencing a pesky Redis TimeoutError, which due to the previous settings, is only getting logged as:
[code]

The issue happens only in the production environment, and we can't get a full exception traceback wit

[2022-06-12 08:32] WisdomPill commented on #609
Hey @jdbit sorry for replying late.

Well the issue is that `cache.delete_pattern` uses `cache.scan_iter`, which internally uses `SCAN` command and by default return 10 items at a time, so actually if `cache.delete_pattern` does not have `itersize` it deletes 10 items at a time.

On the other hand `cache.keys`, returns all the items and the you actually delete 1 item at a time, I would suggest to

[2022-06-12 08:34] WisdomPill commented on #609
Personally I would change `cache.delete_pattern`, to use keys and then delete every key using a `redis pipeline`, since I am not sure how many deletes could be done in one `DEL` command. Would you be interested in contributing and adding this feature under a feature flag? (like by adding a `pipeline=False` argument)

[2022-06-12 08:42] WisdomPill commented on #608
Hello @konstantinmds!

Sorry for the late reply

Maybe you have an error in notifications where `CLIENT_CLASS` has a non existing value?
Did you solve this issue already?
It is a very strange problem since it is covered by tests.

[2022-06-12 08:44] WisdomPill commented on #611
Hello @tmarice,
yes that's perfectly fine by me,
I prefer using `log.exception` instead of `log.error` but since I inherited this project I did not touched that.

You are welcome to open a PR.

If I may give you an advice to use a tracing system, like `Sentry` and you would never have this problem again :)

[2022-06-13 15:56] konstantinmds commented on #608
Sorry, it was that :)

[2022-06-13 20:53] tmarice commented on #611
Excellent, I'll try to free up some time in the following weeks to work on this.

Unfortunately, Sentry doesn't help here since the exception is caught and logged. Sentry picks it up from the logger, but it's missing local variables and the full traceback.

[2022-06-28 05:19] debugger22 opened #614 "Is it not possible to use pipeline in get_many"
I am using `get_many` to retrieve multiple keys at the same time. Surprisingly unlike `set_many`, it calls the Redis individually for each key in the list.

Is there a way to optimize this behavior?

[2022-06-28 10:38] WisdomPill commented on #596
Hello @AqeelAT,

I actually made the pr not long ago to be able to proceed with #603 in redis/redis-py#2137 :)
But unfortunately I did not get back to #603 just yet

[2022-06-28 11:13] AqeelAT commented on #596
Oh I just noticed that you're the one who made https://github.com/redis/redis-py/pull/2137.
We could definitely benefit from #603
I think it is ready to be merged.

[2022-06-29 06:09] WisdomPill commented on #614
it is using pipeline so it sends one command to the server.

Have a look [here](https://redis.io/docs/manual/pipelining/).

Do you think it is slow?

Probably using `MSET` is faster but it complicated things because of preprocessing of keys and versioning.

Do you fancy opening a PR for switching over to `MSET`

[2022-07-02 14:00] rootart commented on #609
@WisdomPill I would be happy to try it and implement the suggested feature. There are some concerns when using `keys` command for databases with many keys as it blocks other clients and could lead to performance issues. Would it be fine to have it turned off by default as a safe option?

[2022-07-02 14:29] WisdomPill commented on #609
@rootart you are right. There could be a safe way to use scan and a bigger iter_size but delete keys in one go and a more dangerous option using keys. Technically with a big enough iter_size it would get close to keys performance wise

[2022-07-04 19:06] OlehObodin opened #616 "redis.exceptions.ReadOnlyError: You can't write against a read only replica."
**Describe the bug**
Production of my app is failing

**Expected behavior**
 up and running app

**Stack trace**
[code]

**Environment (please complete the following information):**
 - Python version: 3.9
 - Django Redis Version: [django-redis>=5.0.0
 - Django Version: 3.2.13
 - Redis Version:  7
 - redis-py Version: [e.g. 3.5.0]

[2022-07-15 08:02] rootart commented on #609
Hey @WisdomPill
Will appreciate it if you could have a quick look at the pr I prepared. Many thanks!

[2022-08-02 19:44] interestinall commented on #497
For anyone who got here attempting TSL parity in a local docker env vs Heroku

[code]
https://redis.io/docs/manual/security/encryption/

So your redis command becomes something like `redis-server --tls-port 6379 --port 0 --tls-cert-file /tls/redis.crt --tls-key-file /tls/redis.key --tls-auth-clients no`

[2022-09-08 07:15] Real-Gecko commented on #587
So, what was the solution???

[2022-10-04 16:20] dancergraham commented on #616
Hello, it seems this can happen if the redis port is open on the server and there is no password on redis.  The redis instance can be hacked.

[2022-10-20 15:46] vedantpuri opened #619 "Why does `DJANGO_REDIS_CONNECTION_FACTORY` need to be a global django setting ?"
## Context
We use django-redis for our project and I am in a situation where I need to make only one of my caches sentineled.
Ideally the others should also be converted but due to time constraints and other reasoning based on usage we want to convert only one for now.

## Question
When trying to change this I noticed that this setting is global, which means that all my caches need to be sentinele

[2022-10-21 16:41] WisdomPill commented on #619
Hello @vedantpuri,

I see your issue, I think it's a valid point so we should have a pool per `cache` entry in settings... would you like to create a PR for this?

It should be quite simple, just pass `CONNECTION_FACTORY` from options and feed it to `pool.get_connection_factory(options=self._options)` [here](https://github.com/jazzband/django-redis/blob/38e630f051d6cc1f54e2e919c5751853282657ee/dja

[2022-10-21 17:48] vedantpuri commented on #619
Sure! Here is a proposal:
https://github.com/jazzband/django-redis/pull/620

[2022-10-23 06:41] Arhell opened #621 "update readme links"
http=>https

[2022-10-24 21:34] #621 closed

[2022-10-25 22:11] Arhell opened #623 "update AUTHORS links"
http=>https

[2022-10-27 22:06] #623 closed

[2022-10-28 10:51] cKurultayKalkan commented on #208
Hello @sonic182,

Thank you for your solution. It helped me to find a new one.

I had same problem when i wanted to use redis-py version 4.0 with django redis.

Because of **redis-py-cluster doesn't support redis-py 4.0**, i had to use RedisCluster  from redis-py lib directly.

Finally,

_**redis_custom_client.py**_

[code]

**_settings.py_**
[code]

[2022-11-01 16:37] vedantpuri commented on #597
Any updates on this ?

[2022-11-01 17:15] WisdomPill commented on #597
nope, if you like to open a PR I would be happy to review it! 😁

[2022-11-07 05:56] jamiegau opened #628 "redis DB flushed on "django restart", how can I stop this?"
Hi,
I have set up Redis to write to disk its DB so it can persist its data over a restart.

However, when I stop/start my Django container. Everything in the Redis database, for example, /1 is deleted.
How can I stop this from happening?  I have not been able to find any reference to this behaviour on github or in the issues tracker.

I would expect an OPTION could be set to disable this behaviour

[2022-11-07 07:37] WisdomPill commented on #628
I don't get how, it's the first time I hear about such a problem.

Can you explain more in. detail how is your setup?
How is redis setup, what are your settings and how are you using `django_redis`?

Do you have any logs from redis server that prove there was a flush command sent?

[2022-11-07 11:21] #611 closed

[2022-11-08 01:01] jamiegau commented on #628
Thanks for confirming this should work.
It made me look in other places, and I found a flush cache in the celery worker start process in my IDE.
THANKS.

[2022-11-08 01:01] #628 closed

[2022-11-08 18:37] oOoBlackHoleSunoOo opened #629 "Does make Pooling sense for small apps/sites?"
Hello,
i am implementing django-redis in my django 3.2.16 website. I do not use the session backend but  i cache, specific, bigger queries  from my postgreSQL database and some GEOjson data.  So far it works "blazingly fast" in my development setup.

**1.) my question is:**
 _Does make the pooling option sense for a small website?_

For instance i am currently have this option
[code]

My productio

[2022-11-09 15:06] awbacker opened #630 "Django unit tests hang forever when redis is not reachable"
When my redis instance is not reachable, it seems that my unit tests hang indefinitely.  No single test is executed, though, just a hang after the system checks.

I have tried setting the timeouts, socket timeouts, etc, without any luck.

Is there some way to get this to fail faster, is there something I am configuring incorrectly?

[code]

[code]

[2022-11-09 16:27] #609 closed

[2022-11-10 23:14] VaZark opened #631 "Multiple databases support"
I’m currently using django to build a multi tenant service. The DB is selected dynamically based on the url subdomain, custom database router and a dict that maps subdomain to the DB

The django docs indicate that database caches create separate tables for each database. How is it handled by django-redis ? Is there default support for multiple databases? Do you use the db name as a prefix/root key

[2022-11-22 10:52] syamjith44 commented on #309
how to deal with it, If it is browser cache..

[2022-11-22 19:38] rmortes opened #633 "Python 3.11 Support"
Hi! This package is not currently documented as compatible with Python 3.11, so tools like poetry can't install it to a codebase running said version.

Please consider updating in so users with the latest python version can use your package

Thanks!

[2022-11-23 18:08] rmortes commented on #633
Related PR: https://github.com/jazzband/django-redis/pull/634

[2022-11-25 15:49] tony commented on #614
Thank you

That's just a link to redis docs - I find their docs a bit tricky to connect to real world scenarios 😆. When I opened this issue I was more curious about django-redis.

I would like to see more. e.g. links to the current source / explanation of the codepath for django-redis' implementation of that.

[2022-11-28 06:16] WisdomPill commented on #309
please have a look at `Cache-Control` and `Expires` headers, like described [here](https://docs.djangoproject.com/en/4.1/topics/cache/#the-per-view-cache).

In this case might even be better to use Mozilla source [Cache-Control](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Cache-Control) and [Expires](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Expires)

[2022-11-28 06:26] WisdomPill commented on #614
`get_many`  (source [here](https://github.com/jazzband/django-redis/blob/040d85e2e2e723f456bc05e66de963a60ea30f3e/django_redis/client/default.py#L485)) uses `MGET` command which has a complexity of `O(1)` from django-redis perspective and a complexity of `O(N)`, the complexity is all on redis side so if you are asking for many keys then it can be slow because of size of values and number of values